{% extends 'material/frontend/base.html' %}
{% load i18n %}

{% block title %}エリアパーキング{% endblock %}
{% block page_title %}エリアパーキング{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/static/js/base.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.4.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript">
eb.jQuery = $.noConflict(true);
</script>
<link type="text/css" rel="stylesheet" href="/static/css/base.css"/>
<link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/cupertino/jquery-ui.min.css" />
{% endblock extrahead %}
