{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}
{% load humanize %}

{% block breadcrumbs_items %}
{% endblock %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card">
        <div class="card-content">
            <div class="card-title">滞納一覧</div>
            <div>
                <table class="table bordered highlight" id="tblArrears">
                    <thead>
                    <tr>
                        <th style="width: 30px;">
                            <input type="checkbox" id="id_check_all" class="tiny filled-in" checked/>
                            <label for="id_check_all" style="height: 15px; padding-left: 20px;"></label>
                        </th>
                        <th>契約者</th>
                        <th>フリガナ</th>
                        <th>TEL</th>
                        <th>駐車場</th>
                        <th>車室</th>
                        <th>契約開始</th>
                        <th>支払期限</th>
                        <th>経過日数</th>
                        <th>支払区分</th>
                        <th>差引滞納額</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr class="{% if object.date_diff > 60 %}arrears_deep{% elif object.is_sent %}arrears_sent{% else %}arrears_normal{% endif %}">
                            <td>
                                <input type="checkbox" id="chk_{{object.pk}}" name="selected_detail" class="tiny filled-in detail" checked value="{{ object.pk }}"/>
                                <label for="chk_{{object.pk}}" style="height: 15px;"></label>
                            </td>
                            <td><a href="{% url 'contract:contractor_detail' object.contractor.pk %}">{{ object.contractor }}</a></td>
                            <td>{{ object.kana }}</td>
                            <td>{{ object.tel|default:'' }}</td>
                            <td><div class="nowrap" style="width: 120px;">{{ object.contract.parking_lot }}</div></td>
                            <td>{{ object.contract.parking_position }}</td>
                            <td>{{ object.contract_start_date }}</td>
                            <td>{{ object.limit_date }}</td>
                            <td>{{ object.date_diff }}</td>
                            <td>{{ object.get_payment_kbn_display }}</td>
                            <td class="right-align">{{ object.amount|intcomma }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-action">
            <div class="right-align">
                <button class="btn waves-effect waves-light modal-trigger" data-target="divSendMail" type="submit" name="action">督促</button>
            </div>
        </div>
    </div>
</div>
<div id="divSendMail" class="modal modal-fixed-footer" style="min-height: 500px;">
    <form method="post" action="?" id="frmSendMail">
        <div class="modal-content">
            <h4>督促メール送信</h4>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input readonly value="{{ group.sender }}" id="txtSubscriptionSender" name="subscription_sender" type="text" />
                            <label for="txtSubscriptionSender">差出人</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input value="{{ object.email }}" id="txtSubscriptionTo" name="subscription_to" type="text" />
                            <label for="txtSubscriptionTo">宛先</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input value="{%for cc in group.get_cc_list%}{{cc.email}}{%endfor%}" id="txtSubscriptionCC" name="subscription_cc" type="text" />
                            <label for="txtSubscriptionCC">ＣＣ</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input value="{%for bcc in group.get_bcc_list%}{{bcc.email}}{%endfor%}" id="txtSubscriptionBCC" name="subscription_bcc" type="text" />
                            <label for="txtSubscriptionBCC">ＢＣＣ</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input value="{{ template.title }}" id="txtSubscriptionTitle" name="subscription_title" type="text" />
                            <label for="txtSubscriptionTitle">件名</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="txtSubscriptionContent" name="subscription_content" class="materialize-textarea vLargeTextField" style="min-height: 300px;">{{ template.body|safe }}</textarea>
                            <label for="txtSubscriptionContent">メール本文</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="modal-action btn-flat waves-effect waves-green" onclick="return false" type="submit" name="action">送信
                <i class="material-icons right">send</i>
            </button>
            <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-red btn-flat ">キャンセル</a>
        </div>
    </form>
</div>
{% endblock left-panel %}
{% block right-panel %}
<div class="right-panel">
    <div class="card filters-card">
        <div class="card-content">
            <span class="card-title" style="font-size: 18px;">選択</span>
            <div class="row" style="margin-top:-10px">
                <div class="input-field col s12" style="padding: 0px;">
                    <input type="checkbox" class="filled-in" id="id_during" value="arrears_sent" name="chk_level" />
                    <label for="id_during" class="arrears_sent">手続き中</label>
                    <input type="checkbox" class="filled-in" id="id_normal" value="arrears_normal" name="chk_level" />
                    <label for="id_normal" class="arrears_normal">一般滞納者</label>
                    <input type="checkbox" class="filled-in" id="id_deep" value="arrears_deep" name="chk_level" />
                    <label for="id_deep" class="arrears_deep">重度滞納者</label>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    {% include 'common/user_info.html' %}
</div>
{% endblock right-panel %}
{% endblock %}

{% block footer %}
<style type="text/css">
    table.table {
        font-size: 12px;
    }
    table.table td {
        margin: 0px;
        padding: 2px 3px;
    }
    select.browser-default:focus {
        outline-width: 0;
    }
    .all_green {
        color: #4CAF50 !important;
    }
    .arrears_deep {
        color: red !important;
    }
    .arrears_normal {
        color: rgba(0, 0, 0, 0.87) !important;
    }
    .arrears_sent {
        color: blue !important;
    }
</style>
<script type="text/javascript">
$(document).one("turbolinks:load", function() {
    $("#id_check_all").click(function() {
        if ($(this).is(':checked')) {
            $("input[type=checkbox].detail").prop('checked', true);
            $("input[name=chk_level]").prop('checked', false);
        } else {
            $("input[type=checkbox].detail").prop('checked', false);
        }
    });

    $("input[name=chk_level]").click(function() {
        // 初期化
        $("#id_check_all").prop('checked', false);
        $("input[type=checkbox].detail").prop('checked', false);
        var chk_id = $(this).attr("id");
        $("input[name=chk_level]").each(function(i, obj) {
            if (obj.id != chk_id) {
                $(obj).prop('checked', false);
            }
        });

        if ($(this).is(':checked')) {
            $("tr." + $(this).val() + " input[type=checkbox].detail").prop('checked', true);
        } else {
        }
    });

    $('.modal').modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .5, // Opacity of modal background
        inDuration: 300, // Transition in duration
        outDuration: 200, // Transition out duration
        startingTop: '4%', // Starting top style attribute
        endingTop: '10%', // Ending top style attribute
        ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
        },
        complete: function(obj) {
            //alert('Closed');
        }
    });
});
</script>
{% endblock %}
