{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}
{% load humanize %}

{% block breadcrumbs_items %}
{% endblock %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card">
        <form method="post" action="{% url 'billing:import_transfer' %}" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="card-content">
            <div class="card-title">振込入金データ</div>
            <div>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>日々の振込入金データ</span>
                        <input type="file" name="transfer">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-action">
            <div class="right-align">
                <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons right">send</i>導入</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock left-panel %}
{% block right-panel %}
<div class="right-panel">
    {% include 'common/user_info.html' %}
</div>
{% endblock right-panel %}
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).one("turbolinks:load", function() {

});
</script>
{% endblock %}
