{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}
{% load humanize %}

{% block breadcrumbs_items %}
<a href="{% url view.model|frontend_urlname:'list' %}">{{ view.model|verbose_name_plural|title }}</a>
<a class="active">{{ object }}</a>
{% endblock %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card">
        <div class="card-content">
            {% block card %}
            <div class="card-title">車室別請求: {{ object }}</div>
            <table class="table bordered" id="tblTransferDetails">
                <thead>
                <tr>
                    <th>車室</th>
                    <th>請求年月</th>
                    <th>契約者</th>
                    <th>請求項目</th>
                    <th>請求金額</th>
                    <th>状態</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td rowspan="3">Ｎｏ１</td>
                        <td>2017-11</td>
                        <td>契約者００１</td>
                        <td>駐車料金</td>
                        <td>21600</td>
                        <td><span class="new badge left grey" data-badge-caption="入金済" style="margin-left: 0px;"></span></td>
                    </tr>
                    <tr class="">
                        <td>2017-12</td>
                        <td>契約者００１</td>
                        <td>駐車料金</td>
                        <td>21600</td>
                        <td><span class="new badge left red" data-badge-caption="滞納" style="margin-left: 0px;"></span></td>
                    </tr>
                    <tr class="">
                        <td>2018-01</td>
                        <td>契約者００１</td>
                        <td>駐車料金</td>
                        <td>21600</td>
                        <td><span class="new badge left green" data-badge-caption="未入金" style="margin-left: 0px;"></span></td>
                    </tr>
                </tbody>
            </table>
            {% endblock %}
        </div>
        <div class="card-action">
            <div class="right-align">
                {% block actions_row %}
                {% if delete_url %}<a class="waves-effect waves-light btn red white-text" href="{{ delete_url }}">{% trans 'Delete' %}</a>{% endif %}
                {% if change_url %}<a class="waves-effect waves-light btn white-text" href="{{ change_url }}">{% trans 'Change' %}</a>{% endif %}
                {% endblock actions_row %}
            </div>
        </div>
    </div>
</div>
{% endblock left-panel %}
{% block right-panel %}
<div class="right-panel">
    {% include 'common/user_info.html' %}
</div>
{% endblock right-panel %}
{% endblock %}

{% block footer %}
<script type="text/javascript">
    $(document).one("turbolinks:load", function() {
    });
</script>
{% endblock %}
