{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}
{% load humanize %}

{% block breadcrumbs_items %}
{% endblock %}


{% block footer %}
<script type="text/javascript">
$(document).ready(function(){
    $('.modal').modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .5, // Opacity of modal background
        inDuration: 300, // Transition in duration
        outDuration: 200, // Transition out duration
        startingTop: '4%', // Starting top style attribute
        endingTop: '10%', // Ending top style attribute
        ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
            //alert("Ready");
            console.log(modal, trigger);
        },
        complete: function(obj) {
            //alert('Closed');
        } // Callback for Modal close
    });
    $('ul.tabs').tabs({
        onShow: function() {
            //alert(1);
        }
    });
});
</script>
{% endblock %}

{% block content %}
<div class="left-panel">
    <div class="card list-card">
        <div class="card-content">
            <!--<div style="overflow-x: scroll; max-width: 800px;">-->
            <!--<div style="width: 1500px;">-->
            <table id="table" class="table bordered" data-form-control="datatable" style="width:100%">
                <thead class="complex">
                    <tr style="border-bottom-style: dotted;">
                        <th rowspan="2">物件番号</th>
                        <th>住所</th>
                        <th>車室</th>
                        <th>種類</th>
                        <th>担当</th>
                        <th>空き</th>
                        <th>契約終了日</th>
                        <th>順番待ち</th>
                    </tr>
                    <tr>
                        <th style="padding-left: 5px;">駐車場名</th>
                        <th>募集賃料</th>
                        <th>ＨＰ価格</th>
                        <th>チラシ価格</th>
                        <th>既契約者</th>
                        <th>新テナント</th>
                        <th>フリーレント</th>
                    </tr>
                </thead>
                <tbody class="complex">
                    {% for object in queryset %}
                    <tr style="border-bottom-style: dotted;{% cycle 'background-color: #f2f2f2' '' %}">
                        <td rowspan="2">{{ object.parking_lot.code }}</td>
                        <td>{{ object.parking_lot.address }}</td>
                        <td><a href="{% url 'whiteboard:parking-position-detail' object.pk %}">{{ object.name }}</a></td>
                        <td>{{ object.parking_lot.segment }}</td>
                        <td>{{ object.parking_lot.staff|default:'' }}</td>
                        {% if object.contracts.count %}
                            <td><span class="new badge left grey" data-badge-caption="なし" style="margin-left: 0px;"></span></td>
                            <td>{{ object.contracts.first.end_date }}</td>
                            <td class="center"><a href="{% url 'whiteboard:waiting-list' %}">3</a></td>
                        {% elif object.temp_contracts.count %}
                            <td><span class="new badge left deep-orange" data-badge-caption="手続中" style="margin-left: 0px;"></span></td>
                            <td></td>
                            <td class="center"><a href="{% url 'whiteboard:waiting-list' %}">3</a></td>
                        {% else %}
                            <td><span class="new badge left green" data-badge-caption="空き" style="margin-left: 0px;"></span></td>
                            <td></td>
                            <td></td>
                        {% endif %}
                    </tr>
                    <tr style="{% cycle 'background-color: #f2f2f2' '' %}">
                        <td style="padding-left: 5px;">{{ object.parking_lot }}</td>
                        <td>{{ object.price_recruitment|default:''|intcomma }}</td>
                        <td>{{ object.price_homepage|default:''|intcomma }}</td>
                        <td>{{ object.price_handbill|default:''|intcomma }}</td>
                        <td>{{ object.parking_lot.free_end_date|default:'' }}</td>
                        <td class="center">{% if object.parking_lot.is_existed_contractor_allowed %}○{% else %}×{% endif %}</td>
                        <td class="center">{% if object.parking_lot.is_new_contractor_allowed %}○{% else %}×{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
{% block right-panel %}
<div class="right-panel">
    <div class="card filters-card">
        <div class="card-content">
            <span class="card-title">地域で絞り込む</span>
            <div class="row" style="margin-top:-10px">
                <div class="input-field col s12">
                    <ul>
                        <li><a href="#">千葉県</a></li>
                        <li><a href="#">東京都</a>
                            <ul style="margin-left: 30px;">
                                <li><a href="#">新宿</a></li>
                                <li><a href="#">目黒</a></li>
                                <li><a href="#">文京区</a></li>
                                <li><a href="#">港区</a></li>
                                <li><a href="#">豊島区</a></li>
                            </ul>
                        </li>
                        <li><a href="#">神奈川県</a></li>
                        <li><a href="#">......</a></li>
                    </ul>
                    <div>
                        <button data-target="search_by_map" class="btn modal-trigger">地図上で検索</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="search_by_map" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>地図上で検索</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card filters-card">
        <div class="card-content">
            <span class="card-title">フィルター</span>
            <div class="row" style="margin-top:-10px">
                <div class="input-field col s12">
                    <input type="text" data-name="q" value="" id="searchbar">
                    <label for="searchbar" class="">検索</label>
                    <!--<a href="#" id="changelist-search-button"><i class="material-icons">search</i></a>-->
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock right-panel %}
{% block action_btn %}
<div class="fixed-action-btn">
    {% if add_url %}
      <a class="btn-floating btn-large waves-effect waves-light red z-depth-2" href="{{ add_url }}"><i class="large material-icons">add</i></a>
    {% endif %}
</div>
{% endblock %}
{% endblock %}
