{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}
{% load humanize %}

{% block breadcrumbs_items %}
{% endblock %}


{% block footer %}
<script type="text/javascript">
</script>
{% endblock %}

{% block content %}
<div class="left-panel">
    <div class="card list-card">
        <div class="card-content">
            <table id="table" class="table bordered" data-form-control="datatable" style="width:100%">
                <thead>
                    <tr>
                        <th>物件番号</th>
                        <th data-name="{{ header }}" class="{{ header }}">住所</th>
                        <th data-name="{{ header }}" class="{{ header }}">駐車場名</th>
                        <th>車室</th>
                        <th data-name="{{ header }}" class="{{ header }}">種類</th>
                        <th>担当</th>
                        <th>空き</th>
                        <th>契約終了日</th>
                        <th>フリーレント<br/>終了日</th>
                        <th>募集賃料</th>
                        <th>ＨＰ<br/>価格</th>
                        <th>チラシ<br/>価格</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in queryset %}
                    <tr>
                        <td>{{ object.parking_lot.code }}</td>
                        <td>{{ object.parking_lot.address }}</td>
                        <td>{{ object.parking_lot }}</td>
                        <td><a href="{% url 'whiteboard:parking-position-detail' object.pk %}">{{ object.name }}</a></td>
                        <td>{{ object.parking_lot.segment }}</td>
                        <td>楊</td>
                        {% if object.contracts.count %}
                            <td><span class="new badge left grey" data-badge-caption="なし" style="margin-left: 0px;"></span></td>
                            <td>{{ object.contracts.first.end_date }}</td>
                        {% elif object.temp_contracts.count %}
                            <td><span class="new badge left deep-orange" data-badge-caption="手続中" style="margin-left: 0px;"></span></td>
                            <td></td>
                        {% else %}
                            <td><span class="new badge left green" data-badge-caption="空き" style="margin-left: 0px;"></span></td>
                            <td></td>
                        {% endif %}
                        <td>2017/11/30</td>
                        <td>{{ object.price_recruitment|intcomma }}</td>
                        <td>{{ object.price_homepage|intcomma }}</td>
                        <td>{{ object.price_handbill|intcomma }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% block right-panel %}
<div class="right-panel">
    <div class="card filters-card">
        <div class="card-content">
            <span class="card-title">地域で絞り込む</span>
            <div class="row" style="margin-top:-10px">
                <div class="input-field col s12">
                    <ul>
                        <li><a href="#">千葉県</a></li>
                        <li><a href="#">東京都</a>
                            <ul style="margin-left: 30px;">
                                <li><a href="#">新宿</a></li>
                                <li><a href="#">目黒</a></li>
                                <li><a href="#">文京区</a></li>
                                <li><a href="#">港区</a></li>
                                <li><a href="#">豊島区</a></li>
                            </ul>
                        </li>
                        <li><a href="#">神奈川県</a></li>
                        <li><a href="#">......</a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="card filters-card">
        <div class="card-content">
            <span class="card-title">フィルター</span>
            <div class="row" style="margin-top:-10px">
                <div class="input-field col s12">
                    <input type="text" data-name="q" value="" id="searchbar">
                    <label for="searchbar" class="">検索</label>
                    <!--<a href="#" id="changelist-search-button"><i class="material-icons">search</i></a>-->
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock right-panel %}
{% block action_btn %}
<div class="fixed-action-btn">
    {% if add_url %}
      <a class="btn-floating btn-large waves-effect waves-light red z-depth-2" href="{{ add_url }}"><i class="large material-icons">add</i></a>
    {% endif %}
</div>
{% endblock %}
{% endblock %}
