<ul>
    <li><a href="{% url 'whiteboard:index' %}">駐車場一覧</a></li>
    <li><a href="{% url 'whiteboard:whiteboard_map' %}" onclick="window.location='{% url 'whiteboard:whiteboard_map' %}';return false;">地図上検索</a></li>
    <li><a href="{% url 'whiteboard:inquiry_list' %}">問い合わせ履歴</a></li>
    <li><a href="javascript:void(0)">順番待ちリスト</a></li>
    <li><a href="javascript:void(0)">反響表</a></li>
    <!--<li><a href="#">怪しい電話<span class="new badge grey" data-badge-caption="未完成"></span></a></li>-->
    <!--<li><a href="#">反響表<span class="new badge grey" data-badge-caption="未完成"></span></a></li>-->
</ul>
