{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}
{% load humanize %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
{% endblock extrahead %}

{% block breadcrumbs_items %}
{% endblock %}


{% block footer %}
<script type="text/javascript">
$(document).ready(function(){
    $('.modal').modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .5, // Opacity of modal background
        inDuration: 300, // Transition in duration
        outDuration: 200, // Transition out duration
        startingTop: '4%', // Starting top style attribute
        endingTop: '10%', // Ending top style attribute
        ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
            //alert("Ready");
            console.log(modal, trigger);
        },
        complete: function() {
            //alert('Closed');
        } // Callback for Modal close
    });
    $('ul.tabs').tabs({
        onShow: function() {
            //alert(1);
        }
    });
});
</script>
{% endblock %}

{% block content %}
{% get_media_prefix as MEDIA_PREFIX %}
<div class="left-panel" style="flex-basis: 100%;">
    <div class="card">
        <div class="card-content">
            <div class="card-title">
                {{ parkingposition.parking_lot }} － 車室 {{ parkingposition.name }}
                {% if parkingposition.contracts.count == 0 %}
                    <span class="new badge left green" data-badge-caption="空き" style="margin-left: 0px;"></span>
                {% endif %}
            </div>
            <table class="table bordered">
                <tbody>
                <tr>
                    <th>募集賃料（税込）：</th>
                    <td>{{ parkingposition.price_recruitment|default:''|intcomma }}</td>
                    <th>募集賃料（税抜）：</th>
                    <td>{{ parkingposition.price_recruitment_no_tax|default:''|intcomma }}</td>
                    <th>ホームページ（税込）：</th>
                    <td>{{ parkingposition.price_homepage|default:''|intcomma }}</td>
                    <th>ホームページ（税別）：</th>
                    <td>{{ parkingposition.price_homepage_no_tax|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>チラシ価格（税込）：</th>
                    <td>{{ parkingposition.price_handbill|default:''|intcomma }}</td>
                    <th>チラシ価格（税抜）：</th>
                    <td>{{ parkingposition.price_handbill_no_tax|default:''|intcomma }}</td>
                    <th></th>
                    <td></td>
                    <th></th>
                    <td></td>
                </tr>
                <tr>
                    <th>全長：</th>
                    <td>{{ parkingposition.length|default:''|intcomma }}</td>
                    <th>全幅：</th>
                    <td>{{ parkingposition.width|default:''|intcomma }}</td>
                    <th>全高：</th>
                    <td>{{ parkingposition.height|default:''|intcomma }}</td>
                    <th>重量：</th>
                    <td>{{ parkingposition.weight|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>ﾒｰｶｰのタイヤ幅：</th>
                    <td>{{ parkingposition.tyre_width|default:''|intcomma }}</td>
                    <th>AP計測のタイヤ幅：</th>
                    <td>{{ parkingposition.tyre_width_ap|default:''|intcomma }}</td>
                    <th>ﾒｰｶｰの地上最低高：</th>
                    <td>{{ parkingposition.min_height|default:''|intcomma }}</td>
                    <th>AP計測の地上最低高：</th>
                    <td>{{ parkingposition.min_height_ap|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>F値：</th>
                    <td>{{ parkingposition.f_value|default:''|intcomma }}</td>
                    <th>R値：</th>
                    <td>{{ parkingposition.r_value|default:''|intcomma }}</td>
                    <th>時間制限：</th>
                    <td>{{ parkingposition.time_limit }}</td>
                    <th></th>
                    <td></td>
                </tr>
                <tr>
                    <th>備考：</th>
                    <td colspan="7"></td>
                </tr>
                </tbody>
            </table>
            <div class="card-action">
                <div class="right-align">
                    {% if parkingposition.contracts.count > 0 %}
                    <a class="waves-effect waves-light btn white-text" href="#">順番待ちへ</a>
                    {% else %}
                    <a class="waves-effect waves-light btn modal-trigger" href="#start_contract">契約に進む</a>
                    {% endif %}
                    <!-- {% url 'admin:parkinglot_parkinglot_change' parkingposition.pk %} -->
                </div>
            </div>
            <div id="start_contract" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>仮契約登録</h4>
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col s2"><a href="#bask_info" class="active">基本情報</a></li>
                                <li class="tab col s2"><a href="#corporate_info">法人情報</a></li>
                                <li class="tab col s2"><a href="#workplace_info">勤務先</a></li>
                                <li class="tab col s2"><a href="#contact_info">連絡先</a></li>
                                <li class="tab col s2"><a href="#delivery_info">書類送付先</a></li>
                            </ul>
                        </div>
                        <form method="post" action="#!" id="contractor_form">
                            <div id="bask_info" class="col s12">
                                <table>
                                    <tr>
                                        <th>{{ contractor_form.code.label_tag }}<span class="red-text">*</span></th>
                                        <td>
                                            {{ contractor_form.code.errors }}
                                            {{ contractor_form.code }}
                                        </td>
                                        <th>{{ contractor_form.segment.label_tag }}<span class="red-text">*</span></th>
                                        <td>
                                            {{ contractor_form.segment.errors }}
                                            {{ contractor_form.segment }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.name.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.name.errors }}
                                            {{ contractor_form.name }}
                                        </td>
                                        <th>{{ contractor_form.kana.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.kana.errors }}
                                            {{ contractor_form.kana }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.gender.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.gender.errors }}
                                            {{ contractor_form.gender }}
                                        </td>
                                        <th>{{ contractor_form.personal_birthday.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.personal_birthday.errors }}
                                            {{ contractor_form.personal_birthday }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.personal_post_code.label_tag }}</th>
                                        <td colspan="3">
                                            {{ contractor_form.personal_post_code.errors }}
                                            {{ contractor_form.personal_post_code }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.personal_address1.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.personal_address1.errors }}
                                            {{ contractor_form.personal_address1 }}
                                        </td>
                                        <th>{{ contractor_form.personal_address2.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.personal_address2.errors }}
                                            {{ contractor_form.personal_address2 }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.personal_tel.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.personal_tel.errors }}
                                            {{ contractor_form.personal_tel }}
                                        </td>
                                        <th>{{ contractor_form.personal_fax.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.personal_fax.errors }}
                                            {{ contractor_form.personal_fax }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.personal_email.label_tag }}</th>
                                        <td colspan="3">
                                            {{ contractor_form.personal_email.errors }}
                                            {{ contractor_form.personal_email }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.personal_comment.label_tag }}</th>
                                        <td colspan="3">
                                            {{ contractor_form.personal_comment.errors }}
                                            {{ contractor_form.personal_comment }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="corporate_info" class="col s12">
                                <table>
                                    <tr>
                                        <th>{{ contractor_form.business_type.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.business_type.errors }}
                                            {{ contractor_form.business_type }}
                                        </td>
                                        <th>{{ contractor_form.web_site.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.web_site.errors }}
                                            {{ contractor_form.web_site }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.president.label_tag }}</th>
                                        <td colspan="3">
                                            {{ contractor_form.president.errors }}
                                            {{ contractor_form.president }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.staff_name.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.staff_name.errors }}
                                            {{ contractor_form.staff_name }}
                                        </td>
                                        <th>{{ contractor_form.staff_department.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.staff_department.errors }}
                                            {{ contractor_form.staff_department }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.position.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.position.errors }}
                                            {{ contractor_form.position }}
                                        </td>
                                        <th>{{ contractor_form.extension.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.extension.errors }}
                                            {{ contractor_form.extension }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.capital.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.capital.errors }}
                                            {{ contractor_form.capital }}
                                        </td>
                                        <th>{{ contractor_form.turnover.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.turnover.errors }}
                                            {{ contractor_form.turnover }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="workplace_info" class="col s12">
                                <table>
                                    <tr>
                                        <th>{{ contractor_form.workplace_name.label_tag }}</th>
                                        <td colspan="3">
                                            {{ contractor_form.workplace_name.errors }}
                                            {{ contractor_form.workplace_name }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.workplace_post_code.label_tag }}</th>
                                        <td colspan="3">
                                            {{ contractor_form.workplace_post_code.errors }}
                                            {{ contractor_form.workplace_post_code }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.workplace_address1.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.workplace_address1.errors }}
                                            {{ contractor_form.workplace_address1 }}
                                        </td>
                                        <th>{{ contractor_form.workplace_address2.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.workplace_address2.errors }}
                                            {{ contractor_form.workplace_address2 }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.workplace_tel.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.workplace_tel.errors }}
                                            {{ contractor_form.workplace_tel }}
                                        </td>
                                        <th>{{ contractor_form.workplace_fax.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.workplace_fax.errors }}
                                            {{ contractor_form.workplace_fax }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="contact_info" class="col s12">
                                <table>
                                    <tr>
                                        <th>{{ contractor_form.contact_name.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.contact_name.errors }}
                                            {{ contractor_form.contact_name }}
                                        </td>
                                        <th>{{ contractor_form.contact_kana.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.contact_kana.errors }}
                                            {{ contractor_form.contact_kana }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.contact_post_code.label_tag }}</th>
                                        <td colspan="3">
                                            {{ contractor_form.contact_post_code.errors }}
                                            {{ contractor_form.contact_post_code }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.contact_address1.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.contact_address1.errors }}
                                            {{ contractor_form.contact_address1 }}
                                        </td>
                                        <th>{{ contractor_form.contact_address2.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.contact_address2.errors }}
                                            {{ contractor_form.contact_address2 }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.contact_tel.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.contact_tel.errors }}
                                            {{ contractor_form.contact_tel }}
                                        </td>
                                        <th>{{ contractor_form.contact_fax.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.contact_fax.errors }}
                                            {{ contractor_form.contact_fax }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.contact_relation.label_tag }}</th>
                                        <td colspan="3">
                                            {{ contractor_form.contact_relation.errors }}
                                            {{ contractor_form.contact_relation }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="delivery_info" class="col s12">
                                <table>
                                    <tr>
                                        <th>{{ contractor_form.paper_delivery_type.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.paper_delivery_type.errors }}
                                            {{ contractor_form.paper_delivery_type }}
                                        </td>
                                        <th>{{ contractor_form.honorific.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.honorific.errors }}
                                            {{ contractor_form.honorific }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.delivery_name.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.delivery_name.errors }}
                                            {{ contractor_form.delivery_name }}
                                        </td>
                                        <th>{{ contractor_form.delivery_kana.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.delivery_kana.errors }}
                                            {{ contractor_form.delivery_kana }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.delivery_post_code.label_tag }}</th>
                                        <td colspan="3">
                                            {{ contractor_form.delivery_post_code.errors }}
                                            {{ contractor_form.delivery_post_code }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.delivery_address1.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.delivery_address1.errors }}
                                            {{ contractor_form.delivery_address1 }}
                                        </td>
                                        <th>{{ contractor_form.delivery_address2.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.delivery_address2.errors }}
                                            {{ contractor_form.delivery_address2 }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ contractor_form.delivery_tel.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.delivery_tel.errors }}
                                            {{ contractor_form.delivery_tel }}
                                        </td>
                                        <th>{{ contractor_form.delivery_fax.label_tag }}</th>
                                        <td>
                                            {{ contractor_form.delivery_fax.errors }}
                                            {{ contractor_form.delivery_fax }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">登録</a>
                    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">キャンセル</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-title">{{ parkingposition.parking_lot }} － 基本情報</div>
            <table class="table bordered">
                <tbody>
                <tr>
                    <th>物件番号：</th>
                    <td>{{ parkingposition.parking_lot.code }}</td>
                    <th>名称：</th>
                    <td>{{ parkingposition.parking_lot.name|default:'' }}</td>
                </tr>
                <tr>
                    <th>駐車場分類：</th>
                    <td>{{ parkingposition.parking_lot.segment|default:'' }}</td>
                    <th>郵便番号：</th>
                    <td>{{ parkingposition.parking_lot.post_code|default:'' }}</td>
                </tr>
                <tr>
                    <th>住所：</th>
                    <td colspan="3">{{ parkingposition.parking_lot.address|default:'' }}</td>
                </tr>
                <tr>
                    <th>交通：</th>
                    <td colspan="3">{{ parkingposition.parking_lot.traffic|default:'' }}</td>
                </tr>
                <tr>
                    <th>備考：</th>
                    <td colspan="3">{{ parkingposition.parking_lot.comment|default:'' }}</td>
                </tr>
                </tbody>
            </table>
            <div class="card-action">
                <div class="right-align">
                    <a class="waves-effect waves-light btn modal-trigger" href="#nearest_parking_lot">近くの空き物件</a>
                    <a class="waves-effect waves-light btn white-text grey" href="javascript:void(0)">変更</a>
                    <!-- {% url 'admin:parkinglot_parkinglot_change' parkingposition.pk %} -->
                </div>
            </div>
            <div id="nearest_parking_lot" class="modal bottom-sheet">
                <div class="modal-content">
                    <h4>近くの空き物件</h4>
                    <div class="card-content">
                        <table id="table" class="table bordered" data-form-control="datatable" style="width:100%">
                            <thead>
                            <tr>
                                <th>物件番号</th>
                                <th>駐車場名</th>
                                <th>住所</th>
                                <th>距離</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>0001</td>
                                <td><a href="javascript:void(0)">パシフィックレジデンス目黒本町</a></td>
                                <td>東京都目黒区目黒本町2-23-6</td>
                                <td>100メートル</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-title">書類一式</div>
            <table class="table bordered">
                <tbody>
                {% for doc in parkingposition.parking_lot.parkinglotdoc_set.all %}
                    <tr>
                        <td><a href="{{ MEDIA_PREFIX }}{{ doc.document }}">{{ doc.document }}</a></td>
                        <td>{{ doc.comment|default:'' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-title">駐車場画像一覧</div>
            <table class="table bordered">
                <tbody>
                    <tr>
                    {% for img in parkingposition.parking_lot.parkinglotimage_set.all %}
                         <td>
                             <a href="{{ MEDIA_PREFIX }}{{ img.image }}">
                                <img src="{{ MEDIA_PREFIX }}{{ img.image }}" width="120px"/>
                             </a>
                         </td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% block right-panel %}
{% endblock right-panel %}
{% block action_btn %}
<div class="fixed-action-btn">
    {% if add_url %}
      <a class="btn-floating btn-large waves-effect waves-light red z-depth-2" href="{{ add_url }}"><i class="large material-icons">add</i></a>
    {% endif %}
</div>
{% endblock %}
{% endblock %}
