{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card">
        <div class="card-content">
            <div class="card-title">トラブル: プラウド弦巻アベニュー</div>
            <table class="table bordered">
                <tr>
                    <th>発生日</th>
                    <td>2017/12/10</td>
                </tr>
                <tr>
                    <th>受付者</th>
                    <td>受付者2</td>
                </tr>
                <tr>
                    <th>問い合わせ元</th>
                    <td>野村不動産　中山様</td>
                </tr>
                <tr>
                    <th>物件</th>
                    <td>プラウド弦巻アベニュー</td>
                </tr>
                <tr>
                    <th>車室</th>
                    <td>22,23,24,29</td>
                </tr>
                <tr>
                    <th>契約者</th>
                    <td>契約者002</td>
                </tr>
                <tr>
                    <th>担当者</th>
                    <td>担当者2</td>
                </tr>
                <tr>
                    <th>状態</th>
                    <td><span class="new badge left deep-orange" data-badge-caption="対応中" style="margin-left: 0px;"></span></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-title">状況
                <a class="btn-floating waves-effect waves-light red right modal-trigger" data-target="add_trouble_detail"><i class="material-icons" style="line-height: 41px;">add</i></a>
            </div>
            <table class="table bordered">
                <thead>
                <tr>
                    <th>状況</th>
                    <th>対応日</th>
                    <th>対応結果</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>入庫しようとした際、ターンテーブル上に「練馬111わ222」日産クリッパーワゴンが駐車されていて、入庫出来ない</td>
                    <td>2017/12/11</td>
                    <td>管理会社へ連絡するも、繋がらず、契約者へは「警察へ連絡してください」とお伝えし、ご了承いただく。ＡＰからも渋谷警察へ連絡し、所有者の確認を依頼済み。</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="add_trouble_detail" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>トラブル状況追加</h4>
        <div class="row">
            <form method="post" action="/api/waiting-contact/" id="frmAddWaitingContact">
                {{ waiting_contact_form.as_p }}
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" onclick="add_trouble_detail()"
           class="modal-action waves-effect waves-green btn-flat ">次へ</a>
        <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-red btn-flat ">キャンセル</a>
    </div>
</div>
{% endblock left-panel %}
{% block right-panel %}
<div class="right-panel">
    {% include 'common/user_info.html' %}
</div>
{% endblock right-panel %}
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).one("turbolinks:load", function() {
    $('.modal').modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .5, // Opacity of modal background
        inDuration: 300, // Transition in duration
        outDuration: 200, // Transition out duration
        startingTop: '4%', // Starting top style attribute
        endingTop: '10%', // Ending top style attribute
        ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
        },
        complete: function(obj) {
            //alert('Closed');
        } // Callback for Modal close
    });
});
</script>
{% endblock %}
