{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}

{% block breadcrumbs_items %}
<a href="javascript:void(0)">{{ view.model|verbose_name_plural|title }}</a>
{% if object.pk %}<a href="{% url view.model|frontend_urlname:'detail' object.pk %}">{{ object }}</a>{% endif %}
<a class="active">{% if object.pk %}{% trans 'Change' %}{% else %}{% trans 'Add' %}{% endif %}</a>
{% endblock %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-content">
                <div class="card-title">{% if object.pk %}{{ view.model|verbose_name|title }}: {{ object }}{% else %}{% trans 'Add' %} {{ view.model|verbose_name|title }}{% endif %}</div>
                {% block form %}
                {% if view.layout or form.layout%}
                {% if view.layout %}
                {% form layout=view.layout %}{% endform %}
                {% endif %} 
                {% if form.layout %}
                {% form layout=form.layout %}{% endform %}
                {% endif %}
                {% else %}
                {% form %}{% endform %}
                {% for name, formset in formsets.items %}
                <table>
                    {{ formset.as_table }}
                </table>
                {% endfor %}
                {% endif %}
                {% endblock %}
            </div>
            <div class="card-action">
                <div class="right-align">
                    {% block submit_row %}
                    <button type="submit" class="waves-effect waves-light btn white-text">{% trans 'Save' %}</button>
                    {% endblock %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock left-panel %}
{% block right-panel %}{% endblock right-panel %}
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).ready( function() {
    jQuery_2_2_4('#id_ac_parking_lot').autocomplete({
        source: function( req, res ) {
            jQuery_2_2_4.ajax({
                url: "/api/parking-lot/?search=" + encodeURIComponent(req.term),
                dataType: "json",
                success: function( data ) {
                    var c = [];
                    $.each(data.results, function (i, a) {
                      a.label = a.name;
                      c.push(a);
                    });
                    res(c);
                }
            });
        },
        autoFocus: true,
        delay: 500,
        minLength: 1,
        select: function(event, ui) {
            if(ui.item){
                $("#id_parking_lot").val(ui.item.id);
            }
        }
    });
    jQuery_2_2_4('#id_car_maker').autocomplete({
        source: function( req, res ) {
            jQuery_2_2_4.ajax({
                url: "/api/car-maker/?search=" + encodeURIComponent(req.term),
                dataType: "json",
                success: function( data ) {
                    var c = [];
                    $.each(data.results, function (i, a) {
                      a.label = a.name;
                      c.push(a);
                    });
                    res(c);
                }
            });
        },
        autoFocus: true,
        delay: 500,
        minLength: 1
    });
    jQuery_2_2_4('#id_car_model').autocomplete({
        source: function( req, res ) {
            maker = $("#id_car_maker").val();
            q_maker = "";
            if (maker != "") {
                q_maker = "&maker__name=" + maker
            }
            jQuery_2_2_4.ajax({
                url: "/api/car-model/?search=" + encodeURIComponent(req.term) + q_maker,
                dataType: "json",
                success: function( data ) {
                    var c = [];
                    $.each(data.results, function (i, a) {
                      a.label = a.full_name;
                      c.push(a);
                    });
                    res(c);
                }
            });
        },
        autoFocus: true,
        delay: 500,
        minLength: 1
    });
});
</script>
{% endblock %}