{% extends current_module.base_template %}
{% load humanize %}
{% load i18n material_form material_frontend %}

{% block breadcrumbs_items %}
{% endblock %}


{% block footer %}
<script type="text/javascript">
</script>
{% endblock %}

{% block content %}
<div class="left-panel">
    <div class="card list-card">
        <div class="card-content">
            <table id="table" class="table bordered" data-form-control="datatable" style="width:100%">
                <thead>
                    <tr>
                        <th>物件番号</th>
                        <th data-name="{{ header }}" class="{{ header }}">住所</th>
                        <th data-name="{{ header }}" class="{{ header }}">駐車場名</th>
                        <th>車室</th>
                        <th data-name="{{ header }}" class="{{ header }}">種類</th>
                        <th>担当</th>
                        <th>空き</th>
                        <th>フリーレント<br/>終了日</th>
                        <th>募集賃料</th>
                        <th>ホームページ価格</th>
                        <th>チラシ価格</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in queryset %}
                    <tr>
                        <td>{{ object.parking_lot.code }}</td>
                        <td>{{ object.parking_lot.pref_name|default:'' }}{{ object.parking_lot.city_name|default:'' }}
                            {{ object.parking_lot.town_name|default:'' }}{{ object.parking_lot.aza_name|default:'' }}{{ object.parking_lot.other_name|default:'' }}
                        </td>
                        <td>{{ object.parking_lot }}</td>
                        <td>{{ object.name }}</td>
                        <td>{{ object.parking_lot.segment }}</td>
                        <td>楊</td>
                        <td>○</td>
                        <td>2017/11/30</td>
                        <td>{{ object.price_recruitment|intcomma }}</td>
                        <td>{{ object.price_homepage|intcomma }}</td>
                        <td>{{ object.price_handbill|intcomma }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% block right-panel %}
<div class="right-panel">
    <div class="card filters-card">
        <div class="card-content">
            <span class="card-title">フィルター</span>
            <div class="row" style="margin-top:-10px">
                <div class="input-field col s12">
                    <input type="text" data-name="q" value="" id="searchbar">
                    <label for="searchbar" class="">検索</label>
                    <!--<a href="#" id="changelist-search-button"><i class="material-icons">search</i></a>-->
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock right-panel %}
{% block action_btn %}
<div class="fixed-action-btn">
    {% if add_url %}
      <a class="btn-floating btn-large waves-effect waves-light red z-depth-2" href="{{ add_url }}"><i class="large material-icons">add</i></a>
    {% endif %}
</div>
{% endblock %}
{% endblock %}
