{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}

{% block breadcrumbs_items %}
<a class="active" href="{% url view.model|frontend_urlname:'list' %}">{{ view.model|verbose_name_plural|title }}</a>
{% endblock %}


{% block footer %}
<script type="text/javascript">
  config = {{ datatable_config|safe }};
  config.searching = true;
  //config.dom = '<"top"i>rt<"bottom"flp><"clear">';
  config['ajax']['data'] = function(data) {
    var keys = Object.keys(data);
    for(var i=0; i<=keys.length; i++) {
      var key = keys[i],
          value = data[key];
      delete data[key];
      data['datatable-' + key] = value;
    }
  };
  config['ajax']['beforeSend'] = function(request) {
    request.setRequestHeader("datatable", true);
  };
  $(document).one("turbolinks:load", function() {
    if ( ! $.fn.DataTable.isDataTable( '#table' ) ) {
      var datatable = $('#table').DataTable(config);
      new $.fn.dataTable.FixedHeader(datatable);
      // 検索フィルター
      $("div#table_filter").css("display", "none");
      $("#id_q_container input[type=search]").remove();
      $("div#table_filter input").prependTo("#id_q_container");
      $("#id_q_container input[type=search]").removeAttr("placeholder");
      $("#id_q_container input[type=search]").attr("id", "id_q");

      $(document).one("turbolinks:before-cache", function() {
        datatable.destroy();
      });
    }
  });
    $('.tooltipped').tooltip({delay: 50});
</script>
{% endblock %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card list-card">
        <div class="card-content">
            <table id="table" class="table bordered" data-form-control="datatable" style="width:100%">
                <thead class="complex">
                    <tr>
                        {% for header, header_title in headers %}
                        <th data-name="{{ header }}" class="{{ header }}">{{ header_title|title }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="complex">
                    {% for item, row in data %}
                    <tr style="border-bottom-style: dotted;{% cycle 'background-color: #f2f2f2' '' %}">
                        <td rowspan="3">{{ row.bk_no }}</td>
                        <td colspan="5">{{ row.parking_lot }}</td>
                        <td>{{ row.parking_position }}</td>
                        <td><span class="new badge left grey" data-badge-caption="{{ row.contract_status }}" style="margin-left: 0px;"></span></td>
                        <td>{{ row.is_existed_contractor_allowed }}</td>
                        <td>{{ row.is_new_contractor_allowed }}</td>
                        <td>{{ row.free_end_date }}</td>
                        <td>{{ row.time_limit_id }}</td>
                    </tr>
                    <tr style="border-bottom-style: dotted;{% cycle 'background-color: #f2f2f2' '' %}">
                        <td colspan="4" style="padding-left: 5px;">{{ row.address }}</td>
                        <td>{{ row.tanto_name }}</td>
                        <td>{{ row.price_recruitment }}</td>
                        <td>{{ row.price_recruitment_no_tax }}</td>
                        <td>{{ row.price_homepage }}</td>
                        <td>{{ row.price_homepage_no_tax }}</td>
                        <td>{{ row.price_handbill }}</td>
                        <td>{{ row.price_handbill_no_tax }}</td>
                    </tr>
                    <tr style="{% cycle 'background-color: #f2f2f2' '' %}">
                        <td style="padding-left: 5px;">{{ row.length }}</td>
                        <td>{{ row.width }}</td>
                        <td>{{ row.height }}</td>
                        <td>{{ row.weight }}</td>
                        <td>{{ row.tyre_width }}</td>
                        <td>{{ row.tyre_width_ap }}</td>
                        <td>{{ row.min_height }}</td>
                        <td>{{ row.min_height_ap }}</td>
                        <td>{{ row.f_value }}</td>
                        <td>{{ row.r_value }}</td>
                        <td>{{ row.position_comment|slice:":5"|default:'&nbsp;' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock left-panel %}
{% block right-panel %}
<div class="right-panel">
    <form action="." method="get" data-control-form="">
        <div class="card form-card">
            <div class="card-content">
                <span class="card-title">フィルター</span>
                <div class="row">
                    <div class="input-field col s12" id="id_q_container">
                        <label class="active" for="id_q">検索</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock right-panel %}
{% block action_btn %}
<div class="fixed-action-btn">
    {% if add_url %}
      <a class="btn-floating btn-large waves-effect waves-light red z-depth-2" href="{{ add_url }}"><i class="large material-icons">add</i></a>
    {% endif %}
</div>
{% endblock %}
{% endblock %}
