{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}

{% block breadcrumbs_items %}
<a class="active" href="{% url view.model|frontend_urlname:'list' %}">{{ view.model|verbose_name_plural|title }}</a>
{% endblock %}


{% block footer %}
<script type="text/javascript">
  config = {{ datatable_config|safe }};
  config['ajax']['data'] = function(data) {
    var keys = Object.keys(data);
    for(var i=0; i<=keys.length; i++) {
      var key = keys[i],
          value = data[key];
      delete data[key];
      data['datatable-' + key] = value;
    }
  };
  config['ajax']['beforeSend'] = function(request) {
    request.setRequestHeader("datatable", true);
  };
  config['headerCallback'] = function( thead, data, start, end, display ) {
    $(thead).find('th').eq(0).text('Code');
    $(thead).find('th').eq(2).text('担当');
    $(thead).find('th').eq(6).text('車室');
    $(thead).find('th').eq(7).text('待ち');
    $(thead).find('th').eq(8).text('既');
    $(thead).find('th').eq(9).text('新');
    $(thead).find('th').eq(10).text('ﾁﾗｼ');
  };
  config['columnDefs'] = [{
    "targets": [5, 11],
    "createdCell": function (td, cellData, rowData, row, col) {
      var html;
      if (col == 5) {
          $(td).html(ebjs.material.get_contract_status_html(cellData));
          $(td).css("padding", "0px");
      } else if (col == 11) {
          ebjs.material.collapse_parking_lot(td, rowData.code);
      }
    }
  }];
  $(document).one("turbolinks:load", function() {
    if ( ! $.fn.DataTable.isDataTable( '#table' ) ) {
      var datatable = $('#table').DataTable(config);
      new $.fn.dataTable.FixedHeader(datatable);

      $(document).one("turbolinks:before-cache", function() {
        datatable.destroy();
      });

      // フィルター
      $("#changelist-search-button").click(function() {
        var txt = $("#searchbar").val();
        datatable.search( txt ).draw();
      });

      // 駐車場を自動マッチする
      $("#match_parking_lot").css('display', '');
      $("#match_parking_lot").click(function() {
        ebjs.material.match_parking_lot(datatable);
      });
    }
  });
</script>
{% endblock %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card list-card">
        <div class="card-content">
            <table id="table" class="table bordered" data-form-control="datatable" style="width:100%">
                <thead>
                    <tr>
                        {% for header, header_title in headers %}
                        <th data-name="{{ header }}" class="{{ header }}">{{ header_title|title }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for item, row in data %}
                    <tr>
                        {% for column_name, item in row.items %}
                        <td>
                            {% if column_name in view.datalist.list_display_links %}
                            <a href="#">{{ item }}</a>
                            {% else %}
                            {{ item }}
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock left-panel %}
{% block right-panel %}
<div class="right-panel">
    {% include 'common/filter.html' %}
    {% include 'common/user_info.html' %}
</div>
{% endblock right-panel %}
{% block action_btn %}
<div class="fixed-action-btn">
    {% if add_url %}
      <a class="btn-floating btn-large waves-effect waves-light red z-depth-2" href="{{ add_url }}"><i class="large material-icons">add</i></a>
    {% endif %}
</div>
{% endblock %}
{% endblock %}
