{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}
{% load humanize %}

{% block breadcrumbs_items %}
<a href="/whiteboard/whiteboard/">駐車場一覧</a>
<a href="{% url 'whiteboard:whiteboard_detail' whiteboard_position.whiteboard.pk %}">{{ whiteboard_position.whiteboard }}</a>
<a class="active">{{ whiteboard_position }}</a>
{% endblock %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card">
        <div class="card-content">
            {% block card %}
            <div class="card-title">車室: {{ whiteboard_position }}</div>
            <table class="table bordered">
                <tr>
                    <th style="width: 25%;">車室名称：</th>
                    <td>{{ whiteboard_position }}</td>
                </tr>
                <tr>
                    <th style="width: 30%;">空き状況：</th>
                    <td>
                        <span class="new badge left {% if whiteboard_position.position_status == '01' %}green
                                                {% elif whiteboard_position.position_status == '02' %}deep-orange
                                                {% elif whiteboard_position.position_status == '05' %}red
                                                {% else %}grey{%endif%}"
                              data-badge-caption="{{ whiteboard_position.get_position_status_display }}"
                              style="margin-left: 0px;"></span>
                    </td>
                </tr>
                {% if whiteboard_position.is_lock %}
                <tr>
                    <th>申込者</th>
                    <td>{{ whiteboard_position.parking_position.lock_content_object }}</td>
                </tr>
                <tr>
                    <th>貸止め理由</th>
                    <td>{{ whiteboard_position.parking_position.lock_reason }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>駐車場名称：</th>
                    <td>{{ whiteboard_position.whiteboard }}</td>
                </tr>
                <tr>
                    <th>場所：</th>
                    <td>{{ whiteboard_position.address }}</td>
                </tr>
                <tr>
                    <th>募集賃料（税込）：</th>
                    <td>{{ whiteboard_position.price_recruitment|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>募集賃料（税抜）：</th>
                    <td>{{ whiteboard_position.price_recruitment_no_tax|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>ホームページ（税込）：</th>
                    <td>{{ whiteboard_position.price_homepage|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>ホームページ（税別）：</th>
                    <td>{{ whiteboard_position.price_homepage_no_tax|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>チラシ価格（税込）：</th>
                    <td>{{ whiteboard_position.price_handbill|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>チラシ価格（税抜）：</th>
                    <td>{{ whiteboard_position.price_handbill_no_tax|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>全長：</th>
                    <td>{{ whiteboard_position.length|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>全幅：</th>
                    <td>{{ whiteboard_position.width|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>全高：</th>
                    <td>{{ whiteboard_position.height|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>重量：</th>
                    <td>{{ whiteboard_position.weight|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>ﾒｰｶｰのタイヤ幅：</th>
                    <td>{{ whiteboard_position.tyre_width|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>AP計測のタイヤ幅：</th>
                    <td>{{ whiteboard_position.tyre_width_ap|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>ﾒｰｶｰの地上最低高：</th>
                    <td>{{ whiteboard_position.min_height|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>AP計測の地上最低高：</th>
                    <td>{{ whiteboard_position.min_height_ap|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>F値：</th>
                    <td>{{ whiteboard_position.f_value|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>R値：</th>
                    <td>{{ whiteboard_position.r_value|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>備考：</th>
                    <td>{{ whiteboard_position.position_comment|default:'' }}</td>
                </tr>
                {% endblock %}
            </table>
        </div>
        <div class="card-action">
            <div class="right-align">
                {% block actions_row %}
                {% if delete_url %}<a class="waves-effect waves-light btn red white-text" href="{{ delete_url }}">{% trans 'Delete' %}</a>{% endif %}
                {% if change_url %}<a class="waves-effect waves-light btn white-text popup" href="{{ change_url }}">{% trans 'Change' %}</a>{% endif %}
                {% endblock actions_row %}
                {% if whiteboard_position.position_status == "01" %}
                    <!-- 空き -->
                    <button data-target="lock_parking_position" class="waves-effect waves-green btn modal-trigger" onclick="$('#lock_parking_position').modal('open')">貸止め</button>
                    <button data-target="start_temp_contract" class="waves-effect waves-green btn modal-trigger" onclick="$('#start_temp_contract').modal('open')">契約に進む</button>
                {% elif whiteboard_position.position_status == '05' %}
                    <button class="waves-effect waves-green btn" onclick="unlock_parking_position(this)">貸止め解除</button>
                {% else %}
                    <a class="waves-effect waves-light btn white-text">順番待ちへ</a>
                {% endif %}
            </div>
        </div>
        <div id="start_temp_contract" class="modal modal-fixed-footer" style="min-height: 500px;">
            <div class="modal-content">
                <h4>仮契約登録</h4>
                <div class="row">
                    <form method="post" action="/api/subscription/" id="new_subscription_form" class="col s12">
                        <div class="row" style="visibility: hidden;">
                            {{ subscription_form.parking_lot_id }}
                            {{ subscription_form.parking_position_id }}
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">call_split</i>
                                {{ subscription_form.category }}
                                {{ subscription_form.category.label_tag }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                {{ subscription_form.name }}
                                {{ subscription_form.name.label_tag }}
                            </div>
                            <div class="input-field col s6">
                                {{ subscription_form.kana }}
                                {{ subscription_form.kana.label_tag }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">email</i>
                                {{ subscription_form.email }}
                                {{ subscription_form.email.label_tag }}
                            </div>
                            <div class="input-field col s6">
                                {{ subscription_form.post_code }}
                                {{ subscription_form.post_code.label_tag }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">add_location</i>
                                {{ subscription_form.address1 }}
                                {{ subscription_form.address1.label_tag }}
                            </div>
                            <div class="input-field col s6">
                                {{ subscription_form.address2 }}
                                {{ subscription_form.address2.label_tag }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">phone</i>
                                {{ subscription_form.tel }}
                                {{ subscription_form.tel.label_tag }}
                            </div>
                            <div class="input-field col s6">
                                {{ subscription_form.fax }}
                                {{ subscription_form.fax.label_tag }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">comment</i>
                                {{ subscription_form.comment }}
                                {{ subscription_form.comment.label_tag }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" onclick="save_subscription(this)" class="modal-action waves-effect waves-green btn-flat ">次へ</a>
                <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-red btn-flat ">キャンセル</a>
            </div>
        </div>
        <div id="lock_parking_position" class="modal modal-fixed-footer" style="min-height: 500px;">
            <div class="modal-content">
                <h4>貸止め</h4>
                <div class="row">
                    <form method="put" action="{% url 'parking_position_lock' whiteboard_position.pk %}" class="col s12" id="frmLockParkingPosition">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="hidden" id="lock_object_id" name="lock_object_id"/>
                                <input type="hidden" id="lock_content_type_id" name="lock_content_type_id"/>
                                <input type="text" id="id_lock_content_object_name" name="lock_content_object_name" class="eb-autocomplete"
                                       data-eb-autocomplete-url="/api/search-name/" data-eb-autocomplete-target-id="lock_object_id" data-eb-autocomplete-target-contenttype-id="lock_content_type_id"/>
                                <label for="id_lock_content_object_name">申込者</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="id_lock_reason" name="lock_reason" class="materialize-textarea"></textarea>
                                <label for="id_lock_reason">貸止め理由</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="modal-action waves-effect waves-green btn-flat " onclick="lock_parking_position(this)">貸止め</a>
                <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-red btn-flat ">キャンセル</a>
            </div>
        </div>
    </div>
</div>
{% endblock left-panel %}
{% block right-panel %}
<div class="right-panel">
    {% include 'common/user_info.html' %}
</div>
{% endblock right-panel %}
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).one("turbolinks:load", function() {
    ebjs.material.load_user_info();
    ebjs.material.save_user_info();
    ebjs.material.popup_anchor();
    ebjs.material.required_field();

    $('.modal').modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .5, // Opacity of modal background
        inDuration: 300, // Transition in duration
        outDuration: 200, // Transition out duration
        startingTop: '4%', // Starting top style attribute
        endingTop: '10%', // Ending top style attribute
        ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
            var user_info = ebjs.material.get_user_info();
            if (user_info) {
                if (user_info.user_name && user_info.user_name.length > 0) {
                    $("#id_name").val(user_info.user_name || '');
                    $("#id_name").next().addClass('active');
                }
                if (user_info.tel && user_info.tel.length > 0) {
                    $("#id_tel").val(user_info.tel || '');
                    $("#id_tel").next().addClass('active');
                }
                if (user_info.email && user_info.email.length > 0) {
                    $("#id_email").val(user_info.email || '');
                    $("#id_email").next().addClass('active');
                }
            }
        },
        complete: function(obj) {
            //alert('Closed');
        } // Callback for Modal close
    });

    ebjs.utils.ajax_form(
        $("#new_subscription_form"),
        function(result) {
            // success
            window.location = '/contract/subscription/' + result.code + '/detail/';
            $('#start_temp_contract').modal('close');
        },
        function(result) {
            // failure
            if (result.responseJSON) {
                ebjs.material.reflection_form_errors($("#new_subscription_form"), result.responseJSON);
            } else {
                alert("エラーが発生しました。");
            }
        },
    );

    ebjs.utils.ajax_form(
        $("#frmLockParkingPosition"),
        function(result) {
            // success
            ebjs.material.toast("車室：{{ whiteboard_position }}を貸止めしました。");
            $('#lock_parking_position').modal('close');
            window.location.reload();
        },
        function(result) {
            // failure
            ebjs.material.reflection_form_errors($("#frmLockParkingPosition"), result.responseJSON);
        },
    );
});

function save_subscription(obj) {
    $("#new_subscription_form").submit();
}

function lock_parking_position(obj) {
    $("#frmLockParkingPosition").submit();
}

function unlock_parking_position(obj) {
    if (window.confirm("貸止めを解除する、よろしいですか？")) {
        ebjs.utils.loading();
        ebjs.utils.ajax_put(
            '{% url "parking_position_unlock" whiteboard_position.pk %}',
            {}
        ).done(function(result){
            window.location.reload();
        }).fail(function(result){
            console.log(result);
        }).always(function(result){
            utils.loaded();
        });
    }
}

</script>
{% endblock %}
