{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}
{% load humanize %}

{% block breadcrumbs_items %}
{% endblock %}


{% block footer %}
<script type="text/javascript">
$(document).ready(function(){
    ebjs.gmap.init("map", {});
    ebjs.config.setting.circle_radius = {{ circle_radius }};
    ebjs.material.load_user_info();
    ebjs.material.save_user_info();
    $("#match_parking_lot").css('display', '');

    $('.modal').modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .5, // Opacity of modal background
        inDuration: 300, // Transition in duration
        outDuration: 200, // Transition out duration
        startingTop: '4%', // Starting top style attribute
        endingTop: '10%', // Ending top style attribute
        ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
            var parking_lot_name = trigger.text();
            var parking_lot_id = trigger.attr('code');
            modal.find('h5').text(parking_lot_name);

            ebjs.utils.ajax_get(
                ebjs.config.setting.api_size_grouped_positions,
                {code: parking_lot_id}
            ).done(function(result) {
                var tbl = ebjs.material.get_expanded_positions_html(result);
                modal.find('div#div_positions').html('');
                modal.find('div#div_positions').append(tbl);
            }).fail(function(result) {
                debugger;
            }).always(function(result){
                // debugger;
            });

        },
        complete: function() {
        } // Callback for Modal close
    }
  );
});
</script>
<style type="text/css">
#pac-input,
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
#target {
    width: 345px;
}
</style>
{% endblock %}

{% block content %}
<div class="left-panel" style="height: 100%;">
    <div class="card list-card" style="height: 100%;">
        <div class="card-content" style="height: 100%; padding: 2px;">
            <input id="pac-input" class="controls" type="text" placeholder="住所検索">
            <div id="map" style="width: 100%; height: 100%;" ></div>
        </div>
    </div>
    <div id="parking_details" class="modal bottom-sheet">
        <div class="modal-content">
            <h5></h5>
            <div id="div_positions"></div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">閉じる</a>
        </div>
    </div>
</div>
{% block right-panel %}
<div class="right-panel">
    {% include 'common/user_info.html' %}
</div>
{% endblock right-panel %}
{% block action_btn %}
<div class="fixed-action-btn">
    {% if add_url %}
      <a class="btn-floating btn-large waves-effect waves-light red z-depth-2" href="{{ add_url }}"><i class="large material-icons">add</i></a>
    {% endif %}
</div>
{% endblock %}
{% endblock %}
