{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}

{% block breadcrumbs_items %}
<a class="active" href="{% url view.model|frontend_urlname:'list' %}">{{ view.model|verbose_name_plural|title }}</a>
{% endblock %}


{% block footer %}
<script type="text/javascript">
  config = {{ datatable_config|safe }};
  config['ajax']['data'] = function(data) {
    var keys = Object.keys(data);
    for(var i=0; i<=keys.length; i++) {
      var key = keys[i],
          value = data[key];
      delete data[key];
      data['datatable-' + key] = value;
    }
  };
  config['ajax']['beforeSend'] = function(request) {
    request.setRequestHeader("datatable", true);
  };
  config['columnDefs'] = [{
    "targets": [6],
    "createdCell": function (td, cellData, rowData, row, col) {
      var html;
      if (col == 6) {
          if (cellData == "1") {
            $(td).html('<span class="new badge left grey" data-badge-caption="使用中" style="margin-left: 0px;"></span>');
          } else {
            $(td).html('<span class="new badge left red" data-badge-caption="空き" style="margin-left: 0px;"></span>');
          }
          $(td).css("padding", "0px");
      }
    }
  }];
  $(document).one("turbolinks:load", function() {
    ebjs.material.load_user_info();
    ebjs.material.save_user_info();
    ebjs.autocomplete.init();
    if ( ! $.fn.DataTable.isDataTable( '#table' ) ) {
      var datatable = $('#table').DataTable(config);
      new $.fn.dataTable.FixedHeader(datatable);

      $(document).one("turbolinks:before-cache", function() {
        datatable.destroy();
      });
    }
  });
</script>
{% endblock %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card list-card">
        <div class="card-content">
            <table id="table" class="table bordered" data-form-control="datatable" style="width:100%">
                <thead>
                    <tr>
                        {% for header, header_title in headers %}
                        <th data-name="{{ header }}" class="{{ header }}">{{ header_title|title }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for item, row in data %}
                    <tr>
                        {% for column_name, item in row.items %}
                        <td>
                            {% if column_name in view.datalist.list_display_links %}
                            <a href="#">{{ item }}</a>
                            {% else %}
                            {{ item }}
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock left-panel %}
{% block right-panel %}
<div class="right-panel">
    <div class="card filters-card tight-card">
        <div class="card-content">
            <span class="card-title" style="font-size: 18px;">フィルター</span>
            <div class="row">
                <div class="input-field col s12" style="padding: 0px;">
                    <input type="search" data-name="q" value="" id="searchbar">
                    <label for="searchbar" style="left: 0;">検索</label>
                </div>
            </div>
            <div class="row" style="margin-top:-10px">
                <div class="input-field col s12" style="padding: 0px;">
                    <select id="id_status" class="browser-default" style="height: 30px;border:0px;border-bottom: 1px solid gray;">
                        <option value="" selected>--------</option>
                        <option value="0">使用なし</option>
                        <option value="1">使用中</option>
                    </select>
                    <label for="id_status" class="active" style="left: 0px;">使用状態</label>
                </div>
            </div>
            <div class="card-action">
                <div class="right-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action">検索
                        <i class="material-icons right">search</i>
                    </button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    {% include 'common/user_info.html' %}
</div>
{% endblock right-panel %}
{% block action_btn %}
<div class="fixed-action-btn">
    {% if add_url %}
      <a class="btn-floating btn-large waves-effect waves-light red z-depth-2" href="{{ add_url }}"><i class="large material-icons">add</i></a>
    {% endif %}
</div>
{% endblock %}
{% endblock %}
