@CHARSET "utf-8";

body {
    background-color: #f7f3ee;
    font-size: 14px;
    font-family: メイリオ, Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "MS PGothic", Verdana, Arial, sans-serif;
}

pre {
    font-size: 14px !important;
    font-family: メイリオ, Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "MS PGothic", Verdana, Arial, sans-serif !important;
}

header, main, footer {
    padding-left: 0 !important;
}

.container {
    width: 1100px !important;
    margin: 0px auto;
}

header {
    background-color: #3498DB !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

header nav {
    width: 1100px !important;
    margin: 0px auto 20px;
    background-color: #3498DB !important;
    box-shadow: none;
}

a.active:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent;
    border-top-color: #3498DB;
    top: 100%;
    left: 10px;
}

main {
    width: 1100px;
    margin: 0px auto 60px;
    min-height: 500px;
    background: #FFF;
    border-top: 30px solid #8DD6D6;
    border-right: 30px solid #86CCCC;
    border-bottom: 30px solid #7BBCBC;
    border-left: 30px solid #86CCCC;
}

div.main {
    width: 900px;
    margin: 0 auto;
    padding: 39px 10px;
}

footer {
    background-color: #F7F3EE !important;
    border-top: 4px solid #2E6FA8;
    border-bottom: 1px solid #E8E8E8;
    color: #000 !important;
}

footer div.footer-copyright {
    background: #fff !important;
}

main div.card-title {
    border-left: 5px solid #1abc9c;
    padding-left: 5px;
    font-size: 25px;
    font-weight: bold;
    margin: 25px 0px 15px 0px;
}

main table.step-info {
    background: #FDFAF7;
}

main table.step-info th {
    text-align: center;
    width: 30%;
}

main table.step-info th.form-field,
main table.step-info td.form-field {
    border: 1px solid #C2C2C2;
    font-size: 14px;
    vertical-align: middle;
    padding: 15px 15px 15px 15px;
}

main table th label,
main table td label {
    color: inherit;
    font-size: 14px;
}

main table.step-info td pre {
    max-width: 585px;
    white-space: pre-line;
}

main table.step-info td input[type=text] {
    margin-bottom: 0px;
    font-size: 18px;
}

div.card-comment .icon {
    margin: 0px 20px;
}

div.card-comment li {
    margin: 8px 0px;
}

/********************** Submit ボタン ***************************/
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #07925d;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 15px 30px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/********************** 吹き出し ***************************/
.balloon_wrapper {
    padding: 30px;
    position: absolute;
}

.balloon_box {
    position: relative;
    background: #fcfcfc;
    height: 40px;
    width: 280px;
    margin-bottom: 20px;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 2px 2px 17px 0px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    padding-left: 15px;
}

.balloon_box:after {
    content: '';
    position: absolute;
    border-top: 10px solid #fcfcfc;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    bottom: -9px;
    left: 5px;
}

.balloon_box:before {
    content: '';
    position: absolute;
    border-top: 10px solid #999;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    bottom: -11px;
    left: 5px;
}
