@CHARSET "utf-8";

div.modal form th,
div.modal form td {
    padding-top: 2px;
    padding-bottom: 0px;
}

div.modal form td input {
    margin: 0px;
    height: 40px;
}
/**************** サイドバー *****************/
div.content {
    height: calc(100% - 110px);
}
main {
    margin-left: 250px !important;
    font-size: 13px !important;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        margin-left: 0 !important;
    }
}
/*************** Fixed Header ****************/
table.fixedHeader-floating th {
    font-size: 13px;
}
/**************** サイドバー *****************/
.side-nav.fixed .userView {
    min-height: 100px !important;
}
.side-nav div.userView {
    min-height: 100px;
    padding: 9px 9px 0;
    margin-bottom: 0px;
}
.side-nav {
    width: 250px;
}
.side-nav img.background {
    width: 250px;
}
.side-nav li>a {
    font-size: 13px !important;
}

/**************** 複雑なテーブル *****************/
thead.complex {
    background-color: white;
}
thead.complex th {
    font-size: 13px;
    padding: 5px 5px;
}

tbody.complex td {
    font-size: 13px;
    padding: 3px 5px;
}
table > tbody > tr.row1,
table > tbody > tr.row1:hover {
    background-color: #f2f2f2;
}
table > tbody > tr.row2,
table > tbody > tr.row2:hover {
    background-color: white;
}
/**************** 検索フィルター *****************/
.input-field input[type=search] {
    display: block;
    line-height: inherit;
    padding-left: 0px;;
    width: 100%;
}
.input-field input[type=search]:focus {
    border-bottom: 1px solid rgb(158, 158, 158);
}
/**************** 検索フィルター *****************/
div.nowrap {
    overflow: hidden;
    white-space: nowrap;
}
/**************** Collapsible  *****************/
ul.collapsible {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow: none;
}
ul.collapsible div.collapsible-body {
    padding-top: 10px;
    padding-bottom: 10px;
}
ul.collapsible div.collapsible-body table td {
    padding-top: 5px;
    padding-bottom: 5px;
}
/**************** Loading  *****************/
div.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(211, 211, 211, 0.7);
    z-index: 10000;
}
div.loading .preloader-wrapper {
    top: 50%;
    left: 50%;
}
/**************** browser-default  *****************/
.browser-default-radius {
    width: 60px !important;
    margin: 0 !important;
    padding: 1px 2px !important;
    height: 20px !important;
    text-align: right !important;
}
/**************** number icon  *****************/
.char-overlay {
  font-family: 'Helvetica' !important; /* Your font family */
  font-weight: bold !important;
  padding: 0px !important;
}
/**************** Datatableのサーチボックス  *****************/
.dataTables_filter {
    display: none;
}
/**************** Right Panelのカード  *****************/
.tight-card div.row {
    margin-top: -10px;
    margin-bottom: 0px;
}
.tight-card div.input-field {
    padding: 0px;
    margin: 0px;
}
.tight-card div.input-field label {
    font-size: 13px;
}
.tight-card div.input-field.col label {
    left: 0px;
    width: 100%;
}
.tight-card [type=checkbox]+label {
    padding-left: 25px;
    line-height: 20px;
}
.tight-card .card-action {
    padding: 8px 13px;
}
.tight-card a.btn {
    padding: 0 10px;
}
