@CHARSET "utf-8";

div.modal form th,
div.modal form td {
    padding-top: 2px;
    padding-bottom: 0px;
}

div.modal form td input {
    margin: 0px;
    height: 40px;
}

/**************** サイドバー *****************/
/*.side-nav {
    width: 270px;
}
.side-nav img.background {
    width: 270px;
}
.side-nav li>a {
    font-size: 13px;
}*/

/**************** 複雑なテーブル *****************/
thead.complex th {
    font-size: 13px;
    padding: 5px 5px;
}

tbody.complex td {
    font-size: 13px;
    padding: 3px 5px;
}