{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}

{% block breadcrumbs_items %}
<a href="{% url view.model|frontend_urlname:'list' %}">{{ view.model|verbose_name_plural|title }}</a>
<a class="active">{{ object }}</a>
{% endblock %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card">
        <div class="card-content">
            {% block card %}
            <div class="card-title">{{ view.model|verbose_name|title }}: {{ object }}</div>
            <table class="table bordered">
                {% for field_name, value in object_data %}
                <tr>
                    <th>{{ field_name }}</th>
                    {% if value.get_absolute_url %}
                    <td><a href="{{ value.get_absolute_url }}">{{ value }}</a></td>
                    {% else %}
                    <td>{{ value }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            {% endblock %}
        </div>
        <div class="card-action">
            <div class="right-align">
                {% block actions_row %}
                {% if delete_url %}<a class="waves-effect waves-light btn red white-text" href="{{ delete_url }}">{% trans 'Delete' %}</a>{% endif %}
                {% if change_url %}<a class="waves-effect waves-light btn white-text" href="{{ change_url }}">{% trans 'Change' %}</a>{% endif %}
                {% endblock actions_row %}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-title" id="divPositionTitle">契約中の車室</div>
            <table id="tblPosition" class="table bordered highlight mdl-data-table" cellspacing="0">
                <thead>
                    <tr>
                        <th>番号</th>
                        <th>駐車場</th>
                        <th>車室</th>
                        <th>契約開始日</th>
                        <th>契約終了日</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contract in object.get_current_contracts %}
                        <tr>
                            <td><a href="{% url 'contract:contract_detail' contract.pk %}" data-turbolinks="false">{{ contract.pk }}</a></td>
                            <td>{{ contract.parking_lot }}</td>
                            <td>{{ contract.parking_position }}</td>
                            <td>{{ contract.start_date }}</td>
                            <td>{{ contract.end_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-title">対応履歴
                <a class="btn-floating waves-effect waves-light red right modal-trigger" data-target="add_waiting_contact"><i class="material-icons" style="line-height: 41px;">add</i></a>
            </div>
            <table class="table bordered highlight" id="tblWaitingContact">
                <thead>
                <tr>
                    <th>連絡日時</th>
                    <th>受付者</th>
                    <th>連絡内容</th>
                    <th>対応日</th>
                    <th>対応結果</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="empty">
                        <td colspan="5">履歴ありません。</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-action">
            <div class="right-align">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-title" id="divDemandHistory">督促履歴</div>
            <table id="tblDemandHistory" class="table bordered highlight mdl-data-table" cellspacing="0">
                <thead>
                    <tr>
                        <th>駐車場</th>
                        <th>車室</th>
                        <th>契約開始日</th>
                        <th>支払期限日</th>
                        <th>差引滞納額</th>
                        <th>督促方式</th>
                        <th>状態</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% with contract=object.contract_set.first %}
                        <td>{{ contract.parking_lot }}</td>
                        <td>{{ contract.parking_position }}</td>
                        <td>{{ contract.start_date }}</td>
                        <td>2017年12月25日</td>
                        <td>22,2680</td>
                        <td>メール</td>
                        <td><span class="new badge left grey" data-badge-caption="入金済" style="margin-left: 0px;"></span></td>
                        {% endwith %}
                    </tr>
                    <tr>
                        {% with contract=object.contract_set.first %}
                        <td>{{ contract.parking_lot }}</td>
                        <td>{{ contract.parking_position }}</td>
                        <td>{{ contract.start_date }}</td>
                        <td>2018年01月25日</td>
                        <td>22,2680</td>
                        <td>メール</td>
                        <td><span class="new badge left red" data-badge-caption="滞納" style="margin-left: 0px;"></span></td>
                        {% endwith %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="add_waiting_contact" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>履歴追加</h4>
        <div class="row">
            <form method="post" action="/api/waiting-contact/" id="frmAddWaitingContact">
                <p><label for="id_contact_date">連絡日:</label> <input type="text" name="contact_date" class="vDateField" required="" id="id_contact_date"></p>
                <p><label for="id_contact_user">受付者:</label> <input type="text" name="contact_date" class="vDateField" required="" id="id_contact_user"></p>
                <p><label for="id_contact_1">連絡内容:</label> <input type="text" name="contact_date" class="vDateField" required="" id="id_contact_1"></p>
                <p><label for="id_contact2">対応日:</label> <input type="text" name="contact_date" class="vDateField" required="" id="id_contact2"></p>
                <p><label for="id_contact_3">対応結果:</label> <input type="text" name="contact_date" class="vDateField" required="" id="id_contact_3"></p>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" onclick="javascript:void(0)"
           class="modal-action waves-effect waves-green btn-flat ">追加</a>
        <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-red btn-flat ">キャンセル</a>
    </div>
</div>
{% endblock left-panel %}
{% block right-panel %}
<div class="right-panel">
    {% include 'common/user_info.html' %}
</div>
{% endblock right-panel %}
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).one("turbolinks:load", function() {
    $('.modal').modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .5, // Opacity of modal background
        inDuration: 300, // Transition in duration
        outDuration: 200, // Transition out duration
        startingTop: '4%', // Starting top style attribute
        endingTop: '10%', // Ending top style attribute
        ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
            var subscription_url = "";
            if ($("#chkSubscriptionConfirm").prop("checked")) {
                subscription_url += $("#chkSubscriptionConfirm").attr("data-task-url") + ",";
            }
            if ($("#chkSubscription").prop("checked")) {
                subscription_url += $("#chkSubscription").attr("data-task-url") + ",";
            }
            $("#hidSubscriptionUrl").val(subscription_url);
            ebjs.material.reset_mce_data_href();
        },
        complete: function(obj) {
            //alert('Closed');
        }
    });
});
</script>
{% endblock %}
