{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}

{% block breadcrumbs_items %}
<a href="{% url view.model|frontend_urlname:'list' %}">{{ view.model|verbose_name_plural|title }}</a>
<a class="active">{{ object }}</a>
{% endblock %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card">
        <div class="card-content">
            {% block card %}
            <div class="card-title">{{ view.model|verbose_name|title }}: {{ object }}</div>
            <table class="table bordered">
                {% for field_name, value in object_data %}
                <tr>
                    <th>{{ field_name }}</th>
                    {% if value.get_absolute_url %}
                    <td><a href="{{ value.get_absolute_url }}">{{ value }}</a></td>
                    {% else %}
                    <td>{{ value }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            {% endblock %}
        </div>
        <div class="card-action">
            <div class="right-align">
                {% block actions_row %}
                {% if delete_url %}<a class="waves-effect waves-light btn red white-text" href="{{ delete_url }}">{% trans 'Delete' %}</a>{% endif %}
                {% if change_url %}<a class="waves-effect waves-light btn white-text" href="{{ change_url }}">{% trans 'Change' %}</a>{% endif %}
                {% endblock actions_row %}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-title">随時対応</div>
            <ul class="collapsible" data-collapsible="expandable" data-turbolinks="false">
                {% for code, name, processes in object.get_process_list %}
                {% with count=processes.count cancellation_count=object.contractcancellation.processes.count|default:0 %}
                    <li>
                        <div class="collapsible-header">
                            <span class="icon-stack">
                                 <i class="icon-sign-blank icon-stack-base"></i>
                                 <span class="icon-fixed-width icon-light char-overlay">{{ forloop.counter }}</span>
                            </span>
                            {{ name }}
                            <span class="new badge" data-badge-caption="{% if code == '31' %}{{ cancellation_count }}{% else %}{{ count }}{% endif %}" style="margin-left: 0px;"></span>
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                {% if code == '32' %}
                                    {% with process=object.parking_position_cancellation_without_continue_process %}
                                        {% if process %}
                                            <!-- 物件解約 -->
                                            <table>
                                                <thead>
                                                <tr>
                                                    <th>名称</th>
                                                    <th>作成日時</th>
                                                    <th>進捗</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td><a href="{% url 'contract:process_detail' process.pk %}">{{ process.get_name_display }}</a></td>
                                                    <td>{{ process.created_date }}</td>
                                                    <td>
                                                        <div class='center' style="background: linear-gradient(90deg, transparent 0%, transparent 0.0%, #9adaaf 0.0%, #9adaaf {{ process.percent }}%, transparent {{ process.percent }}%);">
                                                            {{ process.percent }}%</div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <div class="col s12 red-text">対応履歴がありません。</div>
                                        {% endif %}
                                    {% endwith %}
                                {% elif code == '33' %}
                                    {% with process=object.parking_position_cancellation_with_continue_process %}
                                        {% if process %}
                                            <!-- 物件解約 -->
                                            <table>
                                                <thead>
                                                <tr>
                                                    <th>名称</th>
                                                    <th>作成日時</th>
                                                    <th>進捗</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td><a href="{% url 'contract:process_detail' process.pk %}">{{ process.get_name_display }}</a></td>
                                                    <td>{{ process.created_date }}</td>
                                                    <td>
                                                        <div class='center' style="background: linear-gradient(90deg, transparent 0%, transparent 0.0%, #9adaaf 0.0%, #9adaaf {{ process.percent }}%, transparent {{ process.percent }}%);">
                                                            {{ process.percent }}%</div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <div class="col s12 red-text">対応履歴がありません。</div>
                                        {% endif %}
                                    {% endwith %}
                                {% elif code == '31' and cancellation_count > 0 %}
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>名称</th>
                                            <th>作成日時</th>
                                            <th>進捗</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for process in object.contractcancellation.processes.all %}
                                            <tr>
                                                <td><a href="{% url 'contract:process_detail' process.pk %}">{{ process.get_name_display }}</a></td>
                                                <td>{{ process.created_date }}</td>
                                                <td>
                                                    <div class='center' style="background: linear-gradient(90deg, transparent 0%, transparent 0.0%, #9adaaf 0.0%, #9adaaf {{ process.percent }}%, transparent {{ process.percent }}%);">
                                                        {{ process.percent }}%</div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% elif count == 0 %}
                                    <div class="col s12 red-text">対応履歴がありません。</div>
                                {% else %}
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>名称</th>
                                            <th>作成日時</th>
                                            <th>進捗</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for process in processes %}
                                            <tr>
                                                <td><a href="{% url 'contract:process_detail' process.pk %}">{{ process.get_name_display }}</a></td>
                                                <td>{{ process.created_date }}</td>
                                                <td>
                                                    <div class='center' style="background: linear-gradient(90deg, transparent 0%, transparent 0.0%, #9adaaf 0.0%, #9adaaf {{ process.percent }}%, transparent {{ process.percent }}%);">
                                                        {{ process.percent }}%</div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>
                            {% if code == '32' or code == '33' %}
                                <!-- 物件解約はここでは行わない -->
                            {% elif code < '31' or cancellation_count == 0 %}
                            <div class="row">
                                <div class="col s12 right-align">
                                    <a data-position="left" data-delay="50" data-tooltip="{{name}}のプロセスを新規追加する" data-target="new_process_{{code}}"
                                       class="waves-effect waves-light btn-floating btn-tiny modal-trigger tooltipped red">
                                        <i class="tiny material-icons">add</i></a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div id="new_process_{{code}}" class="modal modal-fixed-footer" style="min-height: 500px;">
                            <div class="modal-content">
                                <h4>新規 {{ name }}</h4>
                                {% if code == '31' %}
                                    <!-- 一般解約 -->
                                    <form method="post" action="/api/contract-cancellation/" id="contract_cancellation" class="col s12 new_process_form">
                                        <div style="display:none">
                                            {{ contract_cancellation_form.contract }}
                                            {{ contract_cancellation_form.parking_lot }}
                                            {{ contract_cancellation_form.parking_position }}
                                            {{ contract_cancellation_form.contractor }}
                                            {{ contract_cancellation_form.reception_user }}
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input type="radio" name="cancellation_type" id="cancellation_type1" value="">
                                                <label for="cancellation_type1">一般解約</label>
                                                <input type="radio" name="cancellation_type" id="cancellation_type2" value="">
                                                <label for="cancellation_type2">契約違反解約</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">date_range</i>
                                                {{ contract_cancellation_form.cancellation_date }}
                                                {{ contract_cancellation_form.cancellation_date.label_tag }}
                                            </div>
                                        </div>
                                    </form>
                                {% elif code == '20' %}
                                    <!-- 支払方法変更 -->
                                    <form method="post" action="/api/process/" class="col s12 new_process_form">
                                        <div style="display:none">
                                            <input type="hidden" name="name" value="{{code}}">
                                            {{ process_form.content_type }}
                                            {{ process_form.object_id }}
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input type="radio" name="pay_method" id="pay_method_1" value="transfer_in">
                                                <label for="pay_method_1">振込み</label>
                                                <input type="radio" name="pay_method" id="pay_method_2" value="transfer_in">
                                                <label for="pay_method_2">振替</label>
                                                <input type="radio" name="pay_method" id="pay_method_3" value="transfer_in">
                                                <label for="pay_method_3">クレジット</label>
                                            </div>
                                        </div>
                                    </form>
                                {% else %}
                                    <div class="row">
                                        <form method="post" action="/api/process/" class="col s12 new_process_form">
                                            <div style="display:none">
                                                <input type="hidden" name="name" id="id_name" value="{{code}}">
                                                {{ process_form.content_type }}
                                                {{ process_form.object_id }}
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row" style="border: 1px solid lightgray;border-radius: 15px;padding: 15px 50px;">
                                    <table class="bordered">
                                        <tr>
                                            <th style="width: 25%;">契約者</th>
                                            <td>{{ object.contractor }}</td>
                                        </tr>
                                        <tr>
                                            <th>契約中の駐車場</th>
                                            <td>{{ object.parking_lot }}</td>
                                        </tr>
                                        <tr>
                                            <th>契約中の車室</th>
                                            <td>{{ object.parking_position }}</td>
                                        </tr>
                                        <tr>
                                            <th>支払方法</th>
                                            <td>振込み</td>
                                        </tr>
                                        <tr>
                                            <th>契約開始日</th>
                                            <td>{{ object.start_date }}</td>
                                        </tr>
                                        <tr style="border-bottom: 0px;">
                                            <th>契約終了日</th>
                                            <td>{{ object.end_date }}</td>
                                        </tr>
                                    </table>
                                </div>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:void(0)" onclick="new_process(this)" class="modal-action waves-effect waves-green btn-flat ">次へ</a>
                                <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-red btn-flat ">キャンセル</a>
                            </div>
                        </div>
                    </li>
                {% endwith %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock left-panel %}
{% block right-panel %}
<div class="right-panel">
    {% include 'common/user_info.html' %}
</div>
{% endblock right-panel %}
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).one("turbolinks:load", function() {

    $('.modal').modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .5, // Opacity of modal background
        inDuration: 300, // Transition in duration
        outDuration: 200, // Transition out duration
        startingTop: '4%', // Starting top style attribute
        endingTop: '10%', // Ending top style attribute
        ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
        },
        complete: function(obj) {
            //alert('Closed');
        } // Callback for Modal close
    });

    var form_obj = $("form.new_process_form")
    form_obj.submit(function(){
        ebjs.utils.ajax_request(
            $(this).attr('action'),
            $(this).attr('method'),
            $(this).serialize()
        ).done(function(result){
            if (result.process_id) {
                // 一般解約
                window.location = '/contract/process/' + result.process_id + '/detail/';
            } else {
                window.location = '/contract/process/' + result.id + '/detail/';
            }
        }).fail(function(result){
            if (result.responseJSON && result.responseJSON.detail) {
                alert(result.responseJSON.detail);
            } else if (result.responseJSON) {
                ebjs.material.reflection_form_errors(form_obj, result.responseJSON);
            } else {
                alert("エラーが発生しました。");
            }
        }).always(function(result){
        });
        return false;
    });

    ebjs.$('.vDateField').datetimepicker({
        timepicker:false,
        format:'Y-m-d'
    });
});

function new_process(obj) {
    var form_obj = $(obj).closest('div.modal').find('form');
    form_obj.submit();
}
</script>
{% endblock %}
