{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}

{% block breadcrumbs_items %}
<a href="{% url view.model|frontend_urlname:'list' %}">{{ view.model|verbose_name_plural|title }}</a>
<a class="active">{{ object }}</a>
{% endblock %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card">
        <div class="card-content">
            {% block card %}
            <div class="card-title">{{ view.model|verbose_name|title }}: {{ object }}</div>
            <table class="table bordered">
                {% for field_name, value in object_data %}
                <tr>
                    <th>{{ field_name }}</th>
                    {% if value.get_absolute_url %}
                    <td><a href="{{ value.get_absolute_url }}">{{ value }}</a></td>
                    {% else %}
                    <td>{{ value }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            {% endblock %}
        </div>
        <div class="card-action">
            <div class="right-align">
                {% block actions_row %}
                {% if delete_url %}<a class="waves-effect waves-light btn red white-text" href="{{ delete_url }}">{% trans 'Delete' %}</a>{% endif %}
                {% if change_url %}<a class="waves-effect waves-light btn white-text" href="{{ change_url }}">{% trans 'Change' %}</a>{% endif %}
                {% endblock actions_row %}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-title">随時対応</div>
            <ul class="collapsible" data-collapsible="expandable">
                {% for code, name, processes in object.get_process_list %}
                {% with count=processes.count %}
                    <li>
                        <div class="collapsible-header">
                            <span class="icon-stack">
                                 <i class="icon-sign-blank icon-stack-base"></i>
                                 <span class="icon-fixed-width icon-light char-overlay">{{ forloop.counter }}</span>
                            </span>
                            {{ name }}
                            <span class="new badge" data-badge-caption="{{ count }}" style="margin-left: 0px;"></span>
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                {% if count == 0 %}
                                    <div class="col s12 red-text">対応履歴がありません。</div>
                                {% else %}
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>名称</th>
                                            <th>作成日時</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for process in processes %}
                                            <tr>
                                                <td><a href="{% url 'contract:process_detail' process.pk %}">{{ process.get_name_display }}</a></td>
                                                <td>{{ process.created_date }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col s12 right-align">
                                    <a data-position="left" data-delay="50" data-tooltip="{{name}}のプロセスを新規追加する" data-target="new_process_{{code}}"
                                       class="waves-effect waves-light btn-floating btn-tiny modal-trigger tooltipped red">
                                        <i class="tiny material-icons">add</i></a>
                                </div>
                            </div>
                        </div>
                        <div id="new_process_{{code}}" class="modal modal-fixed-footer" style="min-height: 500px;">
                            <div class="modal-content">
                                <h4>新規 {{ name }}</h4>
                                <div class="row">
                                    <form method="post" action="/api/process/" id="new_process_form_{{code}}" class="col s12 new_process_form">
                                        <div style="display:none">
                                            <input type="hidden" name="name" id="id_name" value="{{code}}">
                                            {{ process_form.content_type }}
                                            {{ process_form.object_id }}
                                        </div>
                                    </form>
                                </div>
                                <div class="row" style="border: 1px solid lightgray;border-radius: 15px;padding: 15px 50px;">
                                    <table class="bordered">
                                        <tr>
                                            <th style="width: 25%;">契約者</th>
                                            <td>{{ object.contractor }}</td>
                                        </tr>
                                        <tr>
                                            <th>契約中の駐車場</th>
                                            <td>{{ object.parking_lot }}</td>
                                        </tr>
                                        <tr>
                                            <th>契約中の車室</th>
                                            <td>{{ object.parking_position }}</td>
                                        </tr>
                                        <tr>
                                            <th>支払方法</th>
                                            <td>振込み</td>
                                        </tr>
                                        <tr>
                                            <th>契約開始日</th>
                                            <td>{{ object.start_date }}</td>
                                        </tr>
                                        <tr style="border-bottom: 0px;">
                                            <th>契約終了日</th>
                                            <td>{{ object.end_date }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:void(0)" onclick="new_process('new_process_form_{{code}}')" class="modal-action waves-effect waves-green btn-flat ">次へ</a>
                                <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-red btn-flat ">キャンセル</a>
                            </div>
                        </div>
                    </li>
                {% endwith %}
                {% endfor %}
                <li style="display: none;">
                    <div class="collapsible-header">
                        <span class="icon-stack">
                             <i class="icon-sign-blank icon-stack-base"></i>
                             <span class="icon-fixed-width icon-light char-overlay">1</span>
                        </span>
                        操作鍵紛失
                    </div>
                    <div class="collapsible-body">
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col s12">
                                <input type="checkbox" class="filled-in" id="chkSubscriptionConfirm" checked="checked"/>
                                <label for="chkSubscriptionConfirm">送付状</label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col s12">
                                <input type="checkbox" class="filled-in" id="chkSubscriptionConfirm1" checked="checked"/>
                                <label for="chkSubscriptionConfirm1">鍵預証</label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col s12">
                                <input type="checkbox" class="filled-in" id="chkSubscriptionConfirm2" checked="checked"/>
                                <label for="chkSubscriptionConfirm2">請求書(再発行手数料)</label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col s6">
                                <span style="font-weight: bold;">前回送信日時：</span>2017年12月15日1:22<br/>
                                <span style="font-weight: bold;">送信者：</span>楊
                            </div>
                            <div class="col s6 right-align">
                                <button data-target="send_subscription" class="btn modal-trigger">送信<i class="material-icons right">send</i></button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="card" style="display:none;">
        <div class="card-content">
            <div class="card-title">契約名義変更</div>
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header">
                        <span class="icon-stack">
                             <i class="icon-sign-blank icon-stack-base"></i>
                             <span class="icon-fixed-width icon-light char-overlay">1</span>
                        </span>
                        契約書及び請求書の発行
                        <span class="new badge red" data-badge-caption="未実施" style="margin-left: 0px;"></span>
                    </div>
                    <div class="collapsible-body">
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col s12">
                                <input type="checkbox" class="filled-in" id="chk001" checked="checked"/>
                                <label for="chk001">送付状</label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col s12">
                                <input type="checkbox" class="filled-in" id="chk002" checked="checked"/>
                                <label for="chk002">新契約書(名義変更)</label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col s12">
                                <input type="checkbox" class="filled-in" id="chk003" checked="checked"/>
                                <label for="chk003">請求書(変更手数料)</label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col s6">
                                <span style="font-weight: bold;">前回送信日時：</span>2017年12月15日1:22<br/>
                                <span style="font-weight: bold;">送信者：</span>楊
                            </div>
                            <div class="col s6 right-align">
                                <button data-target="send_subscription" class="btn modal-trigger">送信<i class="material-icons right">send</i></button>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <span class="icon-stack">
                             <i class="icon-sign-blank icon-stack-base"></i>
                             <span class="icon-fixed-width icon-light char-overlay">2</span>
                        </span>
                        入金確認
                        <span class="new badge red" data-badge-caption="未実施" style="margin-left: 0px;"></span>
                    </div>
                    <div class="collapsible-body">
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <span class="icon-stack">
                             <i class="icon-sign-blank icon-stack-base"></i>
                             <span class="icon-fixed-width icon-light char-overlay">3</span>
                        </span>
                        新契約書・請求書の送付
                        <span class="new badge red" data-badge-caption="未実施" style="margin-left: 0px;"></span>
                    </div>
                    <div class="collapsible-body">
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col s12">
                                <input type="checkbox" class="filled-in" id="chk004" checked="checked"/>
                                <label for="chk004">送付状</label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col s12">
                                <input type="checkbox" class="filled-in" id="chk005" checked="checked"/>
                                <label for="chk005">契約書</label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col s12">
                                <input type="checkbox" class="filled-in" id="chk006" checked="checked"/>
                                <label for="chk006">請求書</label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col s6">
                                <span style="font-weight: bold;">前回送信日時：</span>2017年12月15日1:22<br/>
                                <span style="font-weight: bold;">送信者：</span>楊
                            </div>
                            <div class="col s6 right-align">
                                <button data-target="send_subscription" class="btn modal-trigger">送信<i class="material-icons right">send</i></button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock left-panel %}
{% block right-panel %}
<div class="right-panel">
    {% include 'common/user_info.html' %}
</div>
{% endblock right-panel %}
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).one("turbolinks:load", function() {

    $('.modal').modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .5, // Opacity of modal background
        inDuration: 300, // Transition in duration
        outDuration: 200, // Transition out duration
        startingTop: '4%', // Starting top style attribute
        endingTop: '10%', // Ending top style attribute
        ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
        },
        complete: function(obj) {
            //alert('Closed');
        } // Callback for Modal close
    });

    var form_obj = $("form.new_process_form")
    form_obj.submit(function(){
        ebjs.utils.ajax_request(
            $(this).attr('action'),
            $(this).attr('method'),
            $(this).serialize()
        ).done(function(result){
            window.location = '/contract/process/' + result.id + '/detail/';
        }).fail(function(result){
            alert("エラー発生しました。");
        }).always(function(result){
        });
        return false;
    });
});

function new_process(form_id) {
    var form_obj = $("#" + form_id);
    form_obj.submit();
}
</script>
{% endblock %}
