{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}
{% load humanize %}
{% load static %}

{% block breadcrumbs_items %}
{% endblock %}


{% block footer %}
<script type="text/javascript">
$(document).ready(function(){
    $('.modal').modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .5, // Opacity of modal background
        inDuration: 300, // Transition in duration
        outDuration: 200, // Transition out duration
        startingTop: '4%', // Starting top style attribute
        endingTop: '10%', // Ending top style attribute
        ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
            //alert("Ready");
            console.log(modal, trigger);
        },
        complete: function(obj) {
            //alert('Closed');
        } // Callback for Modal close
    });

    $('.tooltipped').tooltip({delay: 50});
    ebjs.material.popup_anchor();
});
function abcd() {
    return false;
}
</script>
{% endblock %}

{% block content %}
{% get_media_prefix as MEDIA_PREFIX %}
<div class="left-panel" style="flex-basis: 100%;">
    <div class="card">
        <div class="card-content">
            <div class="card-title">仮契約情報</div>
            <table class="table bordered">
                <tbody>
                <tr>
                    <th>仮契約者：</th>
                    <td>{{ contractor }}</td>
                    <th>契約者分類：</th>
                    <td>{{ contractor.get_category_display }}</td>
                </tr>
                <tr>
                    <th>メール：</th>
                    <td>{{ contractor.email }}</td>
                    <th>郵便番号：</th>
                    <td>{{ contractor.post_code|default:'' }}</td>
                </tr>
                <tr>
                    <th>住所：</th>
                    <td colspan="3">{{ contractor.address1|default:'' }}{{ contractor.address2|default:'' }}</td>
                </tr>
                <tr>
                    <th>契約開始日：</th>
                    <td>{{ temp_contract.start_date|default:'' }}</td>
                    <th>契約終了日：</th>
                    <td>{{ temp_contract.end_date|default:'' }}</td>
                </tr>
                <tr>
                    <th>初期費用振込日：</th>
                    <td></td>
                    <th>契約書類送付先：</th>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-action right-align">
            <a href="{% url 'admin:contract_tempcontract_change' temp_contract.pk %}??_to_field=id&_popup=1" class="btn popup">仮契約変更</a>
            <a href="{% url 'admin:contract_tempcontractor_change' contractor.pk %}??_to_field=id&_popup=1" class="btn popup">仮契約者変更</a>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-title">進捗情報</div>
            <div>進捗：30%</div>
            <div class="progress" style="height: 14px;">
                <div class="determinate" style="width: 30%"></div>
            </div>
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">looks_one</i>申込書類の送付
                        <span class="new badge red" data-badge-caption="未実施" style="margin-left: 0px;"></span>
                    </div>
                    <div class="collapsible-body">
                        <table>
                            <tr>
                                <td>
                                    <input type="checkbox" class="filled-in" id="chkSubscription" checked="checked" />
                                    <label for="chkSubscription">申込書</label>
                                </td>
                                <td><a target="_blank" href="http://www.monthlyparking.co.jp/parking_offer/20170810114452623.pdf">プレイビュー</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="filled-in" id="chkSubscriptionConfirm" checked="checked" />
                                    <label for="chkSubscriptionConfirm">申込確認書</label>
                                </td>
                                <td><a target="_blank" href="http://www.monthlyparking.co.jp/parking_offer/offer_tsurumaki.pdf">プレイビュー</a></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button data-target="send_subscription" onclick="abcd()" class="btn modal-trigger">送信<i class="material-icons right">send</i></button>
                                    <span>前回送信日時：2017-12-01 10:10</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="send_subscription" class="modal modal-fixed-footer" style="min-height: 500px;">
                        <form method="post" action="{% url 'contract:send_subscription_mail' temp_contract.pk %}">
                            {% csrf_token %}
                            {{ formset.management_form }}
                        <div class="modal-content">
                            <h4>申込書の送付</h4>
                            <div class="row">
                                <div class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input readonly value="{{ subscription_group.sender }}" id="txtSubscriptionSender" name="subscription_sender" type="text" />
                                            <label for="txtSubscriptionSender">差出人</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input value="{{ contractor.email }}" id="txtSubscriptionTo" name="subscription_to" type="text" />
                                            <label for="txtSubscriptionTo">宛先</label>
                                        </div>
                                    </div>
                                    {% if subscription_group.get_cc_list %}
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input value="{%for cc in subscription_group.get_cc_list%}{{cc.email}}{%endfor%}" id="txtSubscriptionCC" name="subscription_cc" type="text" />
                                            <label for="txtSubscriptionCC">ＣＣ</label>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if subscription_group.get_bcc_list %}
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input value="{%for bcc in subscription_group.get_bcc_list%}{{bcc.email}}{%endfor%}" id="txtSubscriptionBCC" name="subscription_bcc" type="text" />
                                            <label for="txtSubscriptionBCC">ＢＣＣ</label>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input value="{{ subscription_group.template.title }}" id="txtSubscriptionTitle" name="subscription_title" type="text" />
                                            <label for="txtSubscriptionTitle">件名</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea id="txtSubscriptionContent" name="subscription_content" class="materialize-textarea" style="min-height: 300px;">{{ subscription_group.template.body }}</textarea>
                                            <label for="txtSubscriptionContent">メール本文</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="modal-action btn-flat waves-effect waves-green" type="submit" name="action">送信
                                <i class="material-icons right">send</i>
                            </button>
                            <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-red btn-flat ">キャンセル</a>
                        </div>
                        </form>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">looks_two</i>申込書類の確認
                        <span class="new badge red" data-badge-caption="未実施" style="margin-left: 0px;"></span>
                    </div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">looks_3</i>審査・確認
                        <span class="new badge red" data-badge-caption="未実施" style="margin-left: 0px;"></span>
                    </div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">looks_4</i>契約書類送付
                        <span class="new badge red" data-badge-caption="未実施" style="margin-left: 0px;"></span>
                    </div>
                    <div class="collapsible-body">
                        <table>
                            <tr>
                                <td>
                                    <input type="checkbox" class="filled-in" id="chkContract" checked="checked" />
                                    <label for="chkContract">契約時送付状</label>
                                </td>
                                <td>プレイビュー</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="filled-in" id="chkContract2" checked="checked" />
                                    <label for="chkContract2">契約書×２</label>
                                </td>
                                <td>プレイビュー</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="filled-in" id="chkContract3" checked="checked" />
                                    <label for="chkContract3">契約金計算書</label>
                                </td>
                                <td>プレイビュー</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="filled-in" id="chkContract4" checked="checked" />
                                    <label for="chkContract4">操作説明書</label>
                                </td>
                                <td>プレイビュー</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="filled-in" id="chkContract5" checked="checked" />
                                    <label for="chkContract5">配置図</label>
                                </td>
                                <td>プレイビュー</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="filled-in" id="chkContract6" checked="checked" />
                                    <label for="chkContract6">パズル式駐車場注意事項</label>
                                </td>
                                <td>プレイビュー</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="filled-in" id="chkContract7" checked="checked" />
                                    <label for="chkContract7">契約時アンケート</label>
                                </td>
                                <td>プレイビュー</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a class="waves-effect waves-light btn white-text popup" href="javascript:void(0)">送信
                                        <i class="material-icons right">send</i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
            <!--<table class="table bordered">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td colspan="3">-->
                        <!--<div>進捗：30%</div>-->
                        <!--<div class="progress" style="height: 14px;">-->
                            <!--<div class="determinate" style="width: 30%"></div>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th style="width: 50%;">申込書類の送付：</th>-->
                    <!--<td><span class="new badge left grey" data-badge-caption="完了" style="margin-left: 0px;"></span></td>-->
                    <!--<td style="text-align: right;">-->
                        <!--<a class="waves-effect waves-light btn grey">申込み書類の発行</a>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th>申込書類の確認</th>-->
                    <!--<td><span class="new badge left grey" data-badge-caption="完了" style="margin-left: 0px;"></span></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th>住所・電話番号 審査・確認</th>-->
                    <!--<td><span class="new badge left grey" data-badge-caption="完了" style="margin-left: 0px;"></span></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th>勤め先審査</th>-->
                    <!--<td><span class="new badge left green" data-badge-caption="実施中" style="margin-left: 0px;"></span></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th>車両サイズ審査</th>-->
                    <!--<td><span class="new badge left red" data-badge-caption="未実施" style="margin-left: 0px;"></span></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th>申込ルート元審査</th>-->
                    <!--<td><span class="new badge left red" data-badge-caption="未実施" style="margin-left: 0px;"></span></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th>契約書類一式の送付</th>-->
                    <!--<td><span class="new badge left red" data-badge-caption="未実施" style="margin-left: 0px;"></span></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th>保管場所使用承諾証明書発行</th>-->
                    <!--<td><span class="new badge left red" data-badge-caption="未実施" style="margin-left: 0px;"></span></td>-->
                    <!--<td style="text-align: right;">-->
                        <!--<a class="waves-effect waves-light btn grey">保管場所使用承諾証明書発行</a>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th>入金確認</th>-->
                    <!--<td><span class="new badge left red" data-badge-caption="未実施" style="margin-left: 0px;"></span></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th>本番契約</th>-->
                    <!--<td><a class="waves-effect waves-light btn tooltipped grey" data-position="top" data-delay="50" data-tooltip="押下したら契約完了とする">登録</a></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-title">
                {{ parkingposition.parking_lot }} － 車室 {{ parkingposition.name }}
                {% if parkingposition.contracts.count %}
                {% elif parkingposition.temp_contracts.count %}
                    <span class="new badge left deep-orange" data-badge-caption="手続中" style="margin-left: 0px;"></span>
                {% else %}
                    <span class="new badge left green" data-badge-caption="空き" style="margin-left: 0px;"></span>
                {% endif %}
            </div>
            <table class="table bordered">
                <tbody>
                <tr>
                    <th>募集賃料（税込）：</th>
                    <td>{{ parkingposition.price_recruitment|default:''|intcomma }}</td>
                    <th>募集賃料（税抜）：</th>
                    <td>{{ parkingposition.price_recruitment_no_tax|default:''|intcomma }}</td>
                    <th>ホームページ（税込）：</th>
                    <td>{{ parkingposition.price_homepage|default:''|intcomma }}</td>
                    <th>ホームページ（税別）：</th>
                    <td>{{ parkingposition.price_homepage_no_tax|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>チラシ価格（税込）：</th>
                    <td>{{ parkingposition.price_handbill|default:''|intcomma }}</td>
                    <th>チラシ価格（税抜）：</th>
                    <td>{{ parkingposition.price_handbill_no_tax|default:''|intcomma }}</td>
                    <th></th>
                    <td></td>
                    <th></th>
                    <td></td>
                </tr>
                <tr>
                    <th>全長：</th>
                    <td>{{ parkingposition.length|default:''|intcomma }}</td>
                    <th>全幅：</th>
                    <td>{{ parkingposition.width|default:''|intcomma }}</td>
                    <th>全高：</th>
                    <td>{{ parkingposition.height|default:''|intcomma }}</td>
                    <th>重量：</th>
                    <td>{{ parkingposition.weight|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>ﾒｰｶｰのタイヤ幅：</th>
                    <td>{{ parkingposition.tyre_width|default:''|intcomma }}</td>
                    <th>AP計測のタイヤ幅：</th>
                    <td>{{ parkingposition.tyre_width_ap|default:''|intcomma }}</td>
                    <th>ﾒｰｶｰの地上最低高：</th>
                    <td>{{ parkingposition.min_height|default:''|intcomma }}</td>
                    <th>AP計測の地上最低高：</th>
                    <td>{{ parkingposition.min_height_ap|default:''|intcomma }}</td>
                </tr>
                <tr>
                    <th>F値：</th>
                    <td>{{ parkingposition.f_value|default:''|intcomma }}</td>
                    <th>R値：</th>
                    <td>{{ parkingposition.r_value|default:''|intcomma }}</td>
                    <th>時間制限：</th>
                    <td>{{ parkingposition.time_limit }}</td>
                    <th></th>
                    <td></td>
                </tr>
                <tr>
                    <th>備考：</th>
                    <td colspan="7"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-title">{{ parkingposition.parking_lot }} － 基本情報</div>
            <table class="table bordered">
                <tbody>
                <tr>
                    <th>物件番号：</th>
                    <td>{{ parkingposition.parking_lot.code }}</td>
                    <th>名称：</th>
                    <td>{{ parkingposition.parking_lot.name|default:'' }}</td>
                </tr>
                <tr>
                    <th>駐車場分類：</th>
                    <td>{{ parkingposition.parking_lot.segment|default:'' }}</td>
                    <th>郵便番号：</th>
                    <td>{{ parkingposition.parking_lot.post_code|default:'' }}</td>
                </tr>
                <tr>
                    <th>住所：</th>
                    <td colspan="3">{{ parkingposition.parking_lot.address|default:'' }}</td>
                </tr>
                <tr>
                    <th>交通：</th>
                    <td colspan="3">{{ parkingposition.parking_lot.traffic|default:'' }}</td>
                </tr>
                <tr>
                    <th>備考：</th>
                    <td colspan="3">{{ parkingposition.parking_lot.comment|default:'' }}</td>
                </tr>
                </tbody>
            </table>
            <div class="card-action">
                <div class="right-align">
                    <a class="waves-effect waves-light btn modal-trigger" href="#nearest_parking_lot">近くの空き物件</a>
                </div>
            </div>
            <div id="nearest_parking_lot" class="modal bottom-sheet">
                <div class="modal-content">
                    <h4>近くの空き物件</h4>
                    <div class="card-content">
                        <table id="table" class="table bordered" data-form-control="datatable" style="width:100%">
                            <thead>
                            <tr>
                                <th>物件番号</th>
                                <th>駐車場名</th>
                                <th>住所</th>
                                <th>距離</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>0001</td>
                                <td><a href="javascript:void(0)">パシフィックレジデンス目黒本町</a></td>
                                <td>東京都目黒区目黒本町2-23-6</td>
                                <td>100メートル</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-title">書類一式</div>
            <table class="table bordered">
                <tbody>
                {% for doc in parkingposition.parking_lot.parkinglotdoc_set.all %}
                    <tr>
                        <td><a href="{{ MEDIA_PREFIX }}{{ doc.document }}">{{ doc.document }}</a></td>
                        <td>{{ doc.comment|default:'' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-title">駐車場画像一覧</div>
            <table class="table bordered">
                <tbody>
                    <tr>
                    {% for img in parkingposition.parking_lot.parkinglotimage_set.all %}
                         <td>
                             <a href="{{ MEDIA_PREFIX }}{{ img.image }}">
                                <img src="{{ MEDIA_PREFIX }}{{ img.image }}" width="120px"/>
                             </a>
                         </td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% block right-panel %}
{% endblock right-panel %}
{% block action_btn %}
<div class="fixed-action-btn">
    {% if add_url %}
      <a class="btn-floating btn-large waves-effect waves-light red z-depth-2" href="{{ add_url }}"><i class="large material-icons">add</i></a>
    {% endif %}
</div>
{% endblock %}
{% endblock %}
