{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card">
        <div class="card-content">
            <div class="card-title">トラブル追加</div>
            <form>
                <div class="row input-field">
                    <label for="id_contact_date" class="">連絡日:</label>
                    <input type="text" name="contact_date" class="vDateField" required="" id="id_contact_date">
                </div>
                <div class="row input-field">
                    <label for="id_user" class="active">受付者:</label>
                    <select id="id_user">
                        <option>楊皖軍</option>
                        <option>admin</option>
                    </select>
                </div>
                <div class="row input-field">
                    <label for="id_1" class="">問い合わせ元:</label>
                    <input type="text" name="contact_date" required="" id="id_1">
                </div>
                <div class="row input-field">
                    <label for="id_parking_lot" class="active">駐車場:</label>
                    <select id="id_parking_lot">
                        <option>コスモフェスタ日暮里</option>
                        <option>アデニウム田端</option>
                    </select>
                </div>
                <div>
                    <input type="checkbox" class="filled-in" id="id_pos1"/><label for="id_pos1" style="margin-right:15px;">22</label>
                    <input type="checkbox" class="filled-in" id="id_pos2"/><label for="id_pos2" style="margin-right:15px;">23</label>
                    <input type="checkbox" class="filled-in" id="id_pos3"/><label for="id_pos3" style="margin-right:15px;">24</label>
                    <input type="checkbox" class="filled-in" id="id_pos4"/><label for="id_pos4" style="margin-right:15px;">25</label>
                    <input type="checkbox" class="filled-in" id="id_pos5"/><label for="id_pos5" style="margin-right:15px;">26</label>
                    <input type="checkbox" class="filled-in" id="id_pos6"/><label for="id_pos6" style="margin-right:15px;">27</label>
                    <input type="checkbox" class="filled-in" id="id_pos7"/><label for="id_pos7" style="margin-right:15px;">全体</label>
                </div>
                <div class="row input-field">
                    <label for="id_contractor" class="active">契約者:</label>
                    <input type="text" name="contact_date" required="" value="楊皖軍" readonly id="id_contractor">
                </div>
                <div class="row input-field">
                    <label for="id_staff" class="active">担当者:</label>
                    <select id="id_staff">
                        <option>楊皖軍</option>
                        <option>admin</option>
                    </select>
                </div>
                <div class="row input-field">
                    <label for="id_situation1" class="active">状況１:</label>
                    <input type="text" name="contact_date" required="" value="" readonly id="id_situation1">
                </div>
                <div class="row input-field">
                    <label for="id_situation2" class="active">対応結果１:</label>
                    <input type="text" name="contact_date" required="" value="" readonly id="id_situation2">
                </div>
                <div class="row input-field">
                    <label for="id_situation3" class="active">状況２:</label>
                    <input type="text" name="contact_date" required="" value="" readonly id="id_situation3">
                </div>
                <div class="row input-field">
                    <label for="id_situation4" class="active">対応結果２:</label>
                    <input type="text" name="contact_date" required="" value="" readonly id="id_situation4">
                </div>
                <div class="row input-field">
                    <label for="id_situation5" class="active">状況３:</label>
                    <input type="text" name="contact_date" required="" value="" readonly id="id_situation5">
                </div>
                <div class="row input-field">
                    <label for="id_situation6" class="active">対応結果３:</label>
                    <input type="text" name="contact_date" required="" value="" readonly id="id_situation6">
                </div>
            </form>
        </div>
        <div class="card-action">
            <div class="right-align">
                <a class="waves-effect waves-light btn white-text popup">保存</a>
            </div>
        </div>
    </div>
</div>
{% endblock left-panel %}
{% block right-panel %}
<div class="right-panel">
    {% include 'common/user_info.html' %}
</div>
{% endblock right-panel %}
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).one("turbolinks:load", function() {
    ebjs.$('.vDateField').datetimepicker({
        timepicker:false,
        format:'Y-m-d'
    });
});
</script>
{% endblock %}
