<div class="card">
    <div class="card-content">
        <div class="card-title">連絡履歴
            <a class="btn-floating waves-effect waves-light red right modal-trigger" data-target="add_contact_history" onclick="$('#add_contact_history').modal('open')">
                <i class="material-icons" style="line-height: 41px;">add</i></a>
        </div>
        <table class="table bordered highlight" id="tblContactHistory">
            <thead>
            <tr>
                <th style="min-width: 100px;">連絡日</th>
                <th style="min-width: 80px;">連絡者</th>
                <th>連絡内容</th>
                <th>備考・特記</th>
                <th style="width: 40px;">編集</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in object.contacts.all %}
                <tr id="trContract{{contact.pk}}">
                    <td data-name="contact_date">{{ contact.contact_date }}</td>
                    <td data-name="contact_user_name">{{ contact.get_contact_user_name }}</td>
                    <td data-name="content">{{ contact.content }}</td>
                    <td data-name="comment">{{ contact.comment }}</td>
                    <td><a style="cursor: pointer;" data-init-url="/api/contact-history/{{contact.pk}}/"
                           data-target="edit_contact_history" class="modal-trigger"
                           onclick="api_get_contact='/api/contact-history/{{contact.pk}}/';$('#edit_contact_history').modal('open');">
                        <i class="material-icons tiny">edit</i></a></td>
                </tr>
            {% empty %}
                <tr class="empty">
                    <td colspan="5">履歴ありません。</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="edit_contact_history" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>連絡履歴編集</h4>
        <div class="row">
            <form method="put" action="" id="frmEditContactHistory">
                {{ contact_history_form.as_p }}
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" onclick="edit_contact_history()"
           class="modal-action waves-effect waves-green btn-flat ">編集</a>
        <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-red btn-flat ">キャンセル</a>
    </div>
</div>
<div id="add_contact_history" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>連絡履歴追加</h4>
        <div class="row">
            <form method="post" action="/api/contact-history/" id="frmAddContactHistory">
                {{ contact_history_form.as_p }}
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" onclick="add_contact_history()"
           class="modal-action waves-effect waves-green btn-flat ">追加</a>
        <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-red btn-flat ">キャンセル</a>
    </div>
</div>
<script type="text/javascript">
function edit_contact_history() {
    var form_obj = $("#frmEditContactHistory");
    ebjs.utils.loading();
    ebjs.utils.ajax_request(
        form_obj.attr('action'), "PUT", form_obj.serialize()
    ).done(function(result){
        $.each(Object.keys(result), function(i, key) {
            $("#tblContactHistory tr#trContract" + result.id + " [data-name=" + key + "]").text(result[key]);
        });
        $('#edit_contact_history').modal('close');
        ebjs.material.toast("連絡履歴が変更されました。");
    }).fail(function(result){
        if (result.responseJSON) {
            ebjs.material.reflection_form_errors(form_obj, result.responseJSON);
        } else {
            alert("エラーが発生しました。");
        }
    }).always(function(result){
        ebjs.utils.loaded();
    });
}

function add_contact_history() {
    $('#frmAddContactHistory').submit();
}

function get_for_edit_contact_history() {
    var form_obj = $("#frmEditContactHistory");
    ebjs.utils.loading();
    ebjs.utils.ajax_request(
        form_obj.attr('action'), "GET", {}
    ).done(function(result){
        ebjs.utils.initForm(form_obj, result);
    }).fail(function(result){
    }).always(function(result){
        ebjs.utils.loaded();
    });
}

function init_add_contact_history() {
    var form_obj = $("#frmAddContactHistory");
    form_obj.submit(function(){
        ebjs.utils.ajax_request(
            $(this).attr('action'),
            $(this).attr('method'),
            $(this).serialize()
        ).done(function(result){
            // 「履歴ありません」のレコード削除
            $("#tblContactHistory tbody tr:last").after(
                "<tr id='trContract" + result.id + "'>" +
                    "<td data-name='contact_date'>" + result.contact_date + "</td>" +
                    "<td data-name='contact_user_name'>" + result.contact_user_name + "</td>"+
                    "<td data-name='content'>" + result.content + "</td>" +
                    "<td data-name='comment'>" + result.comment + "</td>" +
                    '<td><a href="/api/contact-history/' + result.id + '/"><i class="material-icons tiny">edit</i></a></td>' +
                "</tr>"
            );
            $("#tblContactHistory tr.empty").remove();
            $('#add_contact_history').modal('close');
            ebjs.material.toast("連絡履歴を追加しました。");
        }).fail(function(result){
            ebjs.material.reflection_form_errors(form_obj, result.responseJSON);
        }).always(function(result){
        });
        return false;
    });
}
</script>