<div class="card filters-card local-storage tight-card">
    <div class="card-content">
        <span class="card-title" style="font-size: 18px;">聞き取り</span>
        <div class="row" style="margin-top: 0px;">
            <div class="input-field col s6">
                <input type="text" value="" id="id_user_name" name="user_name">
                <label for="id_user_name">ユーザー名前</label>
            </div>
            <div class="input-field col s6">
                <input type="text" value="" id="id_gender" name="gender">
                <label for="id_gender">性別</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input type="text" value="" id="id_user_tel" name="tel">
                <label for="id_user_tel">ＴＥＬ</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="hidden" id="id_parking_lot_code"/>
                <input type="text" value="" id="id_parking_lot" class="eb-autocomplete" eb-autocomplete-url="/api/parking-lot/" eb-autocomplete-target-id="id_parking_lot_code">
                <label for="id_parking_lot">希望する駐車場</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_1" value="1" name="chk_route_1">
                <label for="chk_route_1">チラシ</label>
            </div>
            <div class="input-field col s8">
                <input type="text" value="" id="id_handbill_price" style="margin: 0px;height: 30px;">
                <label for="id_handbill_price">チラシ価格</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_2" value="2" name="chk_route_2">
                <label for="chk_route_2">インターネット</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_3" value="3" name="chk_route_3">
                <label for="chk_route_3">看板</label>
            </div>
            <div class="input-field col s6">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_4" value="4" name="chk_route_4">
                <label for="chk_route_4">新聞折込</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_5" value="5" name="chk_route_5">
                <label for="chk_route_5">不動産紹介</label>
            </div>
            <div class="input-field col s6">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_6" value="6" name="chk_route_6">
                <label for="chk_route_6">知人紹介</label>
            </div>
        </div>
        <div class="row" style="margin-bottom: 33px;">
            <div class="input-field col s4">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_7" value="7" name="chk_route_7">
                <label for="chk_route_7" style="width: 95px;">その他</label>
            </div>
            <div class="input-field col s8">
                <input type="text" id="txt_route_other" name="txt_route_other" value="" style="margin:0px;height:32px;"/>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input type="text" value="" id="id_car_maker">
                <label for="id_car_maker">車メーカー</label>
            </div>
            <div class="input-field col s6">
                <input type="text" value="" id="id_car_model">
                <label for="id_car_model">車種</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <input type="text" value="" id="id_car_length">
                <label for="id_car_length">全長</label>
            </div>
            <div class="input-field col s3">
                <input type="text" value="" id="id_car_width">
                <label for="id_car_width">全幅</label>
            </div>
            <div class="input-field col s3">
                <input type="text" value="" id="id_car_height">
                <label for="id_car_height">全高</label>
            </div>
            <div class="input-field col s3">
                <input type="text" value="" id="id_car_weight">
                <label for="id_car_weight">重量</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="id_inquiry_comment" class="materialize-textarea"></textarea>
                <label for="id_inquiry_comment">備考</label>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="card-action">
        <div class="left">
            <a href="javascript:void(0)" class="black-text" title="聞き取り情報を保存する。"><i class="material-icons">save</i></a>
            <a href="javascript:void(0)" onclick="ebjs.material.clear_user_info()" class="red-text" title="入力した内容をクリアする"><i class="material-icons">clear</i></a>
        </div>
        <div class="right-align">
            <a href="javascript:void(0)" class="deep-orange-text" title="空きがない場合は順番待ちする"><i class="material-icons">timer</i></a>
            <a href="javascript:void(0)" class="blue-text" id="match_parking_lot" title="車サイズと空き情報によって自動マッチする" style="display: none;"><i class="material-icons">youtube_searched_for</i></a>
        </div>
    </div>
</div>
