<div class="card filters-card local-storage tight-card pushpin">
    <div class="card-content" style="padding-top: 10px;">
        <span class="card-title" style="font-size: 18px;">聞き取り</span>
        <div class="row" style="margin-top: 0px;">
            <div class="input-field col s6">
                <input type="text" value="" id="user_name" name="user_name">
                <label for="user_name">ユーザー名前</label>
            </div>
            <div class="input-field col s6">
                <select id="gender" name="gender" class="browser-default">
                    <option value="" selected>--------</option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
                <label for="gender" class="active">性別</label>
            </div>
        </div>
        <div class="row" style="margin-top: 0px;">
            <div class="input-field col s4">
                <input type="checkbox" class="filled-in questionnaire" id="is_tenant" name="is_tenant">
                <label for="is_tenant" style="margin-top: -10px;">入居者</label>
            </div>
            <div class="input-field col s8">
                <input type="text" value="" id="tel" name="tel" class="eb-autocomplete" data-eb-autocomplete-url="/api/search-tel/"/>
                <label for="tel">ＴＥＬ</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" value="" id="email" name="email" class="eb-autocomplete"/>
                <label for="email">メールアドレス</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="hidden" id="target_parking_lot_code" name="target_parking_lot_code"/>
                <input type="text" value="" id="target_parking_lot_name" name="target_parking_lot_name" class="eb-autocomplete" data-trigger-change="true" data-eb-autocomplete-url="/api/target-parking-lot/" data-eb-autocomplete-target-id="target_parking_lot_code">
                <label for="target_parking_lot_name">希望駐車場</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input type="hidden" id="target_city_code" name="target_city_code"/>
                <input type="text" value="" id="target_city_name" name="target_city_name" class="eb-autocomplete" data-eb-autocomplete-url="/api/target-city/" data-eb-autocomplete-target-id="target_city_code">
                <label for="target_city_name">希望市区町村</label>
            </div>
            <div class="input-field col s6">
                <input type="hidden" id="target_aza_code" name="target_aza_code"/>
                <input type="text" value="" id="target_aza_name" name="target_aza_name" class="eb-autocomplete" data-eb-autocomplete-url="/api/target-aza/" data-eb-autocomplete-target-id="target_aza_code">
                <label for="target_aza_name">希望町丁目</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_1" value="1" name="chk_route_1">
                <label for="chk_route_1">チラシ</label>
            </div>
            <div class="input-field col s8">
                <input type="text" value="" id="transmission_handbill_price" name="transmission_handbill_price" style="margin: 0px;">
                <label for="transmission_handbill_price">チラシ価格</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_2" value="2" name="chk_route_2">
                <label for="chk_route_2">インターネット</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_3" value="3" name="chk_route_3">
                <label for="chk_route_3">看板</label>
            </div>
            <div class="input-field col s6">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_4" value="4" name="chk_route_4">
                <label for="chk_route_4">新聞折込</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_5" value="5" name="chk_route_5">
                <label for="chk_route_5">不動産紹介</label>
            </div>
            <div class="input-field col s6">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_6" value="6" name="chk_route_6">
                <label for="chk_route_6">知人紹介</label>
            </div>
        </div>
        <div class="row" style="margin-bottom: 26px;">
            <div class="input-field col s4">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_7" value="7" name="chk_route_7">
                <label for="chk_route_7" style="width: 95px;">その他</label>
            </div>
            <div class="input-field col s8">
                <input type="text" id="transmission_other_route" name="transmission_other_route" value="" style="margin:0px;"/>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input type="text" value="" id="car_maker" name="car_maker">
                <label for="car_maker">車メーカー</label>
            </div>
            <div class="input-field col s6">
                <input type="text" value="" id="car_model" name="car_model">
                <label for="car_model">車種</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <input type="text" value="" id="car_length" name="car_length">
                <label for="car_length">全長</label>
            </div>
            <div class="input-field col s3">
                <input type="text" value="" id="car_width" name="car_width">
                <label for="car_width">全幅</label>
            </div>
            <div class="input-field col s3">
                <input type="text" value="" id="car_height" name="car_height">
                <label for="car_height">全高</label>
            </div>
            <div class="input-field col s3">
                <input type="text" value="" id="car_weight" name="car_weight">
                <label for="car_weight">重量</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="comment" name="comment" class="materialize-textarea"></textarea>
                <label for="comment">備考</label>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="card-action">
        <div class="left">
            <a href="javascript:void(0)" id="save_inquiry" onclick="ebjs.material.save_inquiry(this)" class="black-text" title="聞き取り情報を保存する。"><i class="material-icons">save</i></a>
            <a href="javascript:void(0)" id="clear_inquiry" onclick="ebjs.material.clear_user_info()" class="red-text" title="入力した内容をクリアする"><i class="material-icons">clear</i></a>
        </div>
        <div class="right-align">
            <a href="javascript:void(0)" onclick="ebjs.material.waiting_from_inquiry(this)" class="deep-orange-text" title="空きがない場合は空き待ちする"><i class="material-icons">timer</i></a>
            <a href="javascript:void(0)" class="blue-text" id="match_parking_lot" title="車サイズと空き情報によって自動マッチする" style="display: none;"><i class="material-icons">youtube_searched_for</i></a>
        </div>
    </div>
    <script type="text/javascript">
        $(document).one("turbolinks:load", function() {
            ebjs.material.load_user_info();
            ebjs.material.save_user_info();
            ebjs.autocomplete.init();
            $('.pushpin').each(function() {
                var $this = $(this);
                $index = 0;
                $this.pushpin({
                  top: $this.offset().top
                });
            });
        });
    </script>
</div>
