<div class="card filters-card local-storage">
    <div class="card-content">
        <span class="card-title" style="font-size: 18px;">ユーザー情報</span>
        <div class="row" style="margin-top:-10px;margin-bottom:0px;">
            <div class="input-field col s6" style="padding: 0px;margin:0px;">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_1" value="1" name="chk_route_1">
                <label for="chk_route_1">チラシ</label>
            </div>
            <div class="input-field col s6" style="padding: 0px;margin:0px;">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_2" value="2" name="chk_route_2">
                <label for="chk_route_2">インターネット</label>
            </div>
        </div>
        <div class="row" style="margin-top:-10px;margin-bottom:0px;">
            <div class="input-field col s6" style="padding: 0px;margin:0px;">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_3" value="3" name="chk_route_3">
                <label for="chk_route_3">看板</label>
            </div>
            <div class="input-field col s6" style="padding: 0px;margin:0px;">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_4" value="4" name="chk_route_4">
                <label for="chk_route_4">新聞折込</label>
            </div>
        </div>
        <div class="row" style="margin-top:-10px;margin-bottom:0px;">
            <div class="input-field col s6" style="padding: 0px;margin:0px;">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_5" value="5" name="chk_route_5">
                <label for="chk_route_5">不動産紹介</label>
            </div>
            <div class="input-field col s6" style="padding: 0px;margin:0px;">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_6" value="6" name="chk_route_6">
                <label for="chk_route_6">知人紹介</label>
            </div>
        </div>
        <div class="row" style="margin-top:-10px;margin-bottom: 25px;">
            <div class="input-field col s4" style="padding: 0px;margin:0px;">
                <input type="checkbox" class="filled-in questionnaire" id="chk_route_7" value="7" name="chk_route_7">
                <label for="chk_route_7" style="width: 95px;">その他</label>
            </div>
            <div class="input-field col s8" style="padding: 0px;margin:0px;">
                （<input type="text" id="txt_route_other" name="txt_route_other" value="" style="width: 140px;margin:0px;height:35px;"/>）
            </div>
        </div>
        <div class="row" style="margin-top:-10px;margin-bottom:0px;">
            <div class="input-field col s12" style="padding: 0px;margin:0px;">
                <input type="text" data-name="q" value="" id="id_user_name">
                <label for="id_user_name" style="left: 0;">ユーザー名前</label>
            </div>
        </div>
        <div class="row" style="margin-top:-10px;margin-bottom:0px;">
            <div class="input-field col s6" style="padding: 0px;margin:0px;">
                <input type="text" data-name="q" value="" id="id_car_maker">
                <label for="id_car_maker" style="left: 0;">車メーカー</label>
            </div>
            <div class="input-field col s6" style="padding: 0px;margin:0px;">
                <input type="text" data-name="q" value="" id="id_car_model">
                <label for="id_car_model" style="left: 0;">車種</label>
            </div>
        </div>
        <div class="row" style="margin-top:-10px;margin-bottom:0px;">
            <div class="input-field col s3" style="padding: 0px;margin:0px;">
                <input type="text" data-name="q" value="" id="id_car_length">
                <label for="id_car_length" style="left: 0;">全長</label>
            </div>
            <div class="input-field col s3" style="padding: 0px;margin:0px;">
                <input type="text" data-name="q" value="" id="id_car_width">
                <label for="id_car_width" style="left: 0;">全幅</label>
            </div>
            <div class="input-field col s3" style="padding: 0px;margin:0px;">
                <input type="text" data-name="q" value="" id="id_car_height">
                <label for="id_car_height" style="left: 0;">全高</label>
            </div>
            <div class="input-field col s3" style="padding: 0px;margin:0px;">
                <input type="text" data-name="q" value="" id="id_car_weight">
                <label for="id_car_weight" style="left: 0;">重量</label>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="card-action">&nbsp;</div>
</div>
