{% extends 'material/frontend/base_module.html' %}

{% block content %}
<div class="row">
    <div class="col l8 m12">
        <div class="card-panel form-card">
            <h3>エリアパーキングシステム demo</h3>
            <a href="javascript:void(0)">Admin 様</a>
            <ul>
                <li>
                    担当中の物件  - <a href="javascript:void(0)">１０</a>件
                </li>
                <li>
                    現在契約手続き中の物件  - <a href="javascript:void(0)">２</a>件
                </li>
                <li>
                    空き予定の物件  - <a href="javascript:void(0)">３</a>件
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
