<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - エリア・パーキング</title>
    <script type="text/javascript" src="/static/js/bundle.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollfire/1.4.0/jquery.scrollfire.js"></script>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/static/subscription/css/base.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://materializecss.com/css/ghpages-materialize.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.datepicker').pickadate({
                monthsFull:  ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
                monthsShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
                weekdaysFull: ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"],
                weekdaysShort:  ["日", "月", "火", "水", "木", "金", "土"],
                weekdaysLetter: ["日", "月", "火", "水", "木", "金", "土"],
                selectMonths: true,
                selectYears: 15,
                labelMonthNext: "翌月",
                labelMonthPrev: "前月",
                labelMonthSelect: "月を選択",
                labelYearSelect: "年を選択",
                today: "今日",
                clear: "クリア",
                close: "閉じる",
                format: "yyyy-mm-dd",
            });
            $('.nav-content').each(function() {
                var $this = $(this);
                var $target = $('div.main');
                $this.pushpin({
                    top: $('div.nav-wrapper').height(),
                    bottom: $target.offset().top + $target.outerHeight() - $this.height()
                });
            });
            {% if is_all_active %}
            $('ul.tabs').tabs({
                onShow: function() {
                    window.location = this.href;
                }
            });
            {% endif %}
        });
    </script>
    <style type="text/css">
        div.wrapper {
            border: 1px solid lightgray;
            border-radius: 15px;
            margin-bottom: 40px;
        }
        div.fixed_height {
            overflow-y: scroll;
        }
        table.tight td {
            padding: 8px 15px;
        }
        table.tight_inner td {
            padding: 0px 25px;
        }
        .contract_item {
            margin: 10px 0px;
        }
        .contract_content {
            margin-left: 10px;
            margin-right: 10px;
        }
        .contract_content ol {
            margin: 0px;
            padding-left: 25px;
        }
    </style>
</head>
<body>
<header>
    <nav class="nav-extended" style="width: inherit !important;">
        <div class="nav-wrapper" style="width: 1100px;margin: 0px auto;">
            <a href="#" class="brand-logo">Logo</a>
        </div>
        <div class="nav-content" style="position:relative;background-color: #3498DB !important;width: 100%;">
            <ul class="tabs tabs-transparent" style="width: 1100px;">
                {% for step in steps %}
                    <li class="tab {% if step != current_step and is_all_active == False %}disabled{% endif %}">
                        <a class="{% if step == current_step %}active{% endif %}" href="{% if is_all_active %}{{ step.url }}{% else %}javascript:void(0){% endif %}">{{ step.full_name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="main">
        <form method="post" action="?">
            {% block content %}
            {% endblock %}
            <div class="row center" style="margin-top: 100px;">
                {% if is_finished %}
                {% else %}
                    {% if current_step.prev_step %}
                        <a class="left" href="{{ current_step.prev_step.url }}" style="margin-top: 30px;">前：{{ current_step.prev_step.name }}へ</a>
                    {% endif %}
                    <button class="button" style="vertical-align:middle;"><span>次：{{ current_step.next_step.name }}へ </span></button>
                {% endif %}
                {% csrf_token %}
            </div>
        </form>
    </div>
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5>{{ company_name }}</h5>
                <div>〒{{ company_post_code }}</div>
                <p class="text-lighten-4">
                    <span>{{ company_address1 }}</span><br/>
                    <span>{{ company_address2 }}</span>
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li>TEL：<span style="font-size:21px;">{{ company_tel }}</span></li>
                    <li>FAX：<span style="font-size:21px;">{{ company_fax }}</span></li>
                    <li>（番号間違いにご注意ください。）</li>
                    <li>E-mail：{{ company_email }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
</body>
</html>