<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script type="text/javascript" src="/static/js/bundle.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollfire/1.4.0/jquery.scrollfire.js"></script>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/static/subscription/css/base.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.datepicker').pickadate({
                monthsFull:  ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
                monthsShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
                weekdaysFull: ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"],
                weekdaysShort:  ["日", "月", "火", "水", "木", "金", "土"],
                weekdaysLetter: ["日", "月", "火", "水", "木", "金", "土"],
                labelMonthNext: "翌月",
                labelMonthPrev: "前月",
                labelMonthSelect: "月を選択",
                labelYearSelect: "年を選択",
                today: "今日",
                clear: "クリア",
                close: "OK",
                format: "yyyy-mm-dd",
            });
        });
    </script>
</head>
<body>
<header>
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
        </div>
        <div class="nav-content" style="position:relative;">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a class="active" href="#step1">① 車情報入力</a></li>
                <li class="tab disabled"><a href="#step2">② 契約者分類選択</a></li>
                <li class="tab disabled"><a href="#step3">③ 契約者情報入力</a></li>
                <li class="tab disabled"><a href="#step4">④ 申込み確認</a></li>
                <li class="tab disabled"><a href="#step4">⑤ 申込み完了</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5>{{ company_name }}</h5>
                <div>〒{{ company_post_code }}</div>
                <p class="text-lighten-4">
                    <span>{{ company_address1 }}</span><br/>
                    <span>{{ company_address2 }}</span>
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li>TEL：<span style="font-size:21px;">{{ company_tel }}</span></li>
                    <li>FAX：<span style="font-size:21px;">{{ company_fax }}</span></li>
                    <li>（番号間違いにご注意ください。）</li>
                    <li>E-mail：{{ company_email }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
</body>
</html>