{% load humanize %}
<div class="row">
    <div class="card-title">駐車場情報</div>
    <table class="step-info">
        <tr>
            <th class="form-field">駐車場名称</th>
            <td class="form-field">{{ parking_lot }}</td>
        </tr>
        <tr>
            <th class="form-field">所在地</th>
            <td class="form-field">
                {{ parking_lot.address }}
                {% if parking_lot.address %}
                    <br/><a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{parking_lot.address}}" style="font-size:11px;">Googleマップで表示</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="form-field">収容可能サイズ</th>
            <td class="form-field">
                {% for position in parking_lot.get_size_grouped_position %}
                    {% if position.position_count %}
                    <div>
                        <span style="margin-right: 5px;">全長:{{ position.length|default:''|intcomma }}mm</span>
                        <span style="margin-right: 5px;">全幅:{{ position.width|default:''|intcomma }}mm</span>
                        <span style="margin-right: 5px;">全高:{{ position.height|default:''|intcomma }}mm</span>
                        <span style="margin-right: 5px;">重量:{{ position.weight|default:''|intcomma }}kg</span>
                        <span>{% if position.min_height %}地上最低高:{{ position.min_height|default:''|intcomma }}mm{% endif %}</span>
                    </div>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% if parking_lot.time_limit_comment %}
        <tr>
            <th class="red-text form-field">※利用時間帯について</th>
            <td class="form-field"><pre>{{ parking_lot.time_limit_comment }}</pre></td>
        </tr>
        {% endif %}
        {% if parking_lot.transit_pass_comment %}
        <tr>
            <th class="red-text form-field">※通行許可証について</th>
            <td class="form-field"><pre>{{ parking_lot.transit_pass_comment }}</pre></td>
        </tr>
        {% endif %}
    </table>
</div>