{% extends 'format/base.html' %}
{% load humanize %}

{% block content %}
{% include 'format/parking_lot_info.html' %}
<div class="row">
    <div class="card-title">申込み基本情報入力</div>
    <table class="step-info">
        <tr>
            <th class="form-field">契約者分類<span class="new badge red" data-badge-caption="必須"></span></th>
            <td class="form-field">
                <input type="radio" name="contractor_category" required id="contractor_corporate" value="2" {% if user_subscription.category == '2' %}checked{% endif %}>
                <label for="contractor_corporate" style="margin-right: 50px;">法人</label>
                <input type="radio" name="contractor_category" required id="contractor_personal" value="1" {% if user_subscription.category == '1' %}checked{% endif %}>
                <label for="contractor_personal">個人</label>
            </td>
        </tr>
        <tr>
            <th class="form-field"><label for="id_name">お名前<span class="new badge red" data-badge-caption="必須"></span></label></th>
            <td class="form-field"><input type="text" id="id_name" name="name" onchange="set_furigana(this, 'id_kana')" required placeholder="例）株式会社エリア・パーキング" value="{{ user_subscription.name|default:'' }}"/></td>
        </tr>
        <tr>
            <th class="form-field"><label for="id_kana">フリガナ<span class="new badge red" data-badge-caption="必須"></span><br/></label></th>
            <td class="form-field"><input type="text" id="id_kana" name="kana" required placeholder="例）カブシキガイシャエリア・パーキング" value="{{ user_subscription.kana|default:'' }}"/></td>
        </tr>
        <tr>
            <th class="form-field"><label for="id_tel">電話番号<span class="new badge red" data-badge-caption="必須"></span></label></th>
            <td class="form-field">
                <p>
                    <input type="text" id="id_tel" name="tel" required placeholder="例）03-1234-5678" value="{{ user_subscription.tel|default:'' }}" />
                </p>
                <span class="red-text">※ご連絡のつきやすい番号をご入力ください。</span>
            </td>
        </tr>
        <tr>
            <th class="form-field"><label for="id_email">メールアドレス<span class="new badge red" data-badge-caption="必須"></span><br/></label></th>
            <td class="form-field"><input type="text" id="id_email" name="email" required placeholder="例）test@example.com" value="{{ user_subscription.email|default:'' }}"/></td>
        </tr>
        <tr>
            <th class="form-field"><label for="id_email_confirm">メールアドレス（確認）<span class="new badge red" data-badge-caption="必須"></span><br/></label></th>
            <td class="form-field"><input type="text" id="id_email_confirm" name="email_confirm" required placeholder="例）test@example.com" value="{{ user_subscription.email_confirm|default:'' }}"/></td>
        </tr>
        <tr>
            <th class="form-field"><label for="id_car_model">ご契約予定車両の車種<span class="new badge red" data-badge-caption="必須"></span><br/></label></th>
            <td class="form-field"><input type="text" id="id_car_model" name="car_model" required placeholder="例）プリウス" value="{{ user_subscription.car_model|default:'' }}"/></td>
        </tr>
        <tr>
            <th class="form-field">希望契約開始日<span class="new badge red" data-badge-caption="必須"></span></th>
            <td class="form-field">
                <div>
                    <input name="rdo_contract_start_date" type="radio" id="id_start_shortest" value="shortest" required {% if user_subscription.is_contract_start_shortest %}checked{% endif %}/>
                    <label for="id_start_shortest">最短</label>
                </div>
                <div>
                    <input name="rdo_contract_start_date" type="radio" id="id_start_select" value="calendar" required {% if user_subscription.contract_start_date %}checked{% endif %}/>
                    <label for="id_start_select">カレンダーから選択</label>
                    <input type="text" class="datepicker" id="id_contract_start_date" name="contract_start_date" required placeholder="例）2018-01-01" value="{{ user_subscription.contract_start_date|default:'' }}" style="width: 200px; height: 30px;"/>
                </div>
            </td>
        </tr>
        <tr>
            <th class="form-field">保険加入の状況<span class="new badge red" data-badge-caption="必須"></span></th>
            <td class="form-field">
                <div>
                    <input name="rdo_insurance" type="radio" id="id_insurance_within" value="within" required {% if user_subscription.insurance_join_status == 'within' %}checked{% endif %}/>
                    <label for="id_insurance_within">加入中</label>
                </div>
                <div>
                    <input name="rdo_insurance" type="radio" id="id_insurance_plans" value="plans" required {% if user_subscription.insurance_join_status == 'plans' %}checked{% endif %}/>
                    <label for="id_insurance_plans">加入予定</label>
                </div>
                {% if not parking_lot.required_insurance %}
                <div>
                    <input name="rdo_insurance" type="radio" id="id_insurance_without" value="without" required {% if user_subscription.insurance_join_status == 'without' %}checked{% endif %}/>
                    <label for="id_insurance_without">加入なし</label>
                </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="form-field"><label for="rdo_waiting_yes">空き待ち<span class="new badge red" data-badge-caption="必須"></span></label></th>
            <td class="form-field">
                <div>申込み時点で当該駐車場が満車になっていた場合、空き待ちを希望しますか？</div>
                <div>
                    <input name="rdo_waiting" type="radio" id="rdo_waiting_yes" value="yes" required {% if user_subscription.require_waiting == 'yes' %}checked{% endif %}/>
                    <label for="rdo_waiting_yes">はい</label>
                </div>
                <div>
                    <input name="rdo_waiting" type="radio" id="rdo_waiting_no" value="no" required {% if user_subscription.require_waiting == 'no' %}checked{% endif %}/>
                    <label for="rdo_waiting_no">いいえ</label>
                </div>
                <span class="red-text">※本駐車場または周辺にご希望に添う駐車場があった場合にご紹介いたします。</span>
            </td>
        </tr>
        <tr>
            <th class="form-field"><label for="id_comment">備考</label></th>
            <td class="form-field">
                <textarea id="id_comment" name="comment" class="materialize-textarea">{{ user_subscription.comment|default:'' }}</textarea>
                <div class="red-text">※2台(2車室)以上のご契約をご希望の場合は当欄にその旨を記載してください。</div>
                <div class="red-text">※その他、ご連絡事項がありましたらご記入ください。</div>
            </td>
        </tr>
    </table>
</div>
<div class="row">
    <div class="center" style="margin: 30px auto; font-weight: bold; font-size: 25px;">◆◆ プライバシーポリシーおよび利用規約 ◆◆</div>
    <div class="wrapper fixed_height" style="height: 400px; padding: 10px 15px 10px 15px;;">
        <p>第1条（プライバシー情報）</p>
        <p>プライバシー情報のうち「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報を指します。</p>
        <p>プライバシー情報のうち「履歴情報および特性情報」とは，上記に定める「個人情報」以外のものをいい，ご利用いただいたサービスやご購入いただいた商品，ご覧になったページや広告の履歴，ユーザーが検索された検索キーワード，ご利用日時，ご利用の方法，ご利用環境，郵便番号や性別，職業，年齢，ユーザーのIPアドレス，クッキー情報，位置情報，端末の個体識別情報などを指します。</p>
        <p>第２条（プライバシー情報の収集方法）</p>
        <p>当社は，ユーザーが利用登録をする際に氏名，生年月日，住所，電話番号，メールアドレス，銀行口座番号，クレジットカード番号，運転免許証番号などの個人情報をお尋ねすることがあります。また，ユーザーと提携先などとの間でなされたユーザーの個人情報を含む取引記録や，決済に関する情報を当社の提携先（情報提供元，広告主，広告配信先などを含みます。以下，｢提携先｣といいます。）などから収集することがあります。</p>
        <p>当社は，ユーザーについて，利用したサービスやソフトウエア，購入した商品，閲覧したページや広告の履歴，検索した検索キーワード，利用日時，利用方法，利用環境（携帯端末を通じてご利用の場合の当該端末の通信状態，利用に際しての各種設定情報なども含みます），IPアドレス，クッキー情報，位置情報，端末の個体識別情報などの履歴情報および特性情報を，ユーザーが当社や提携先のサービスを利用しまたはページを閲覧する際に収集します。</p>
        <p>第３条（個人情報を収集・利用する目的）</p>
        <p>当社が個人情報を収集・利用する目的は，以下のとおりです。</p>
        <p>（1）ユーザーに自分の登録情報の閲覧や修正，利用状況の閲覧を行っていただくために，氏名，住所，連絡先，支払方法などの登録情報，利用されたサービスや購入された商品，およびそれらの代金などに関する情報を表示する目的</p>
        <p>（2）ユーザーにお知らせや連絡をするためにメールアドレスを利用する場合やユーザーに商品を送付したり必要に応じて連絡したりするため，氏名や住所などの連絡先情報を利用する目的</p>
        <p>（3）ユーザーの本人確認を行うために，氏名，生年月日，住所，電話番号，銀行口座番号，クレジットカード番号，運転免許証番号，配達証明付き郵便の到達結果などの情報を利用する目的</p>
        <p>（4）ユーザーに代金を請求するために，購入された商品名や数量，利用されたサービスの種類や期間，回数，請求金額，氏名，住所，銀行口座番号やクレジットカード番号などの支払に関する情報などを利用する目的</p>
        <p>（5）ユーザーが簡便にデータを入力できるようにするために，当社に登録されている情報を入力画面に表示させたり，ユーザーのご指示に基づいて他のサービスなど（提携先が提供するものも含みます）に転送したりする目的</p>
        <p>（6）代金の支払を遅滞したり第三者に損害を発生させたりするなど，本サービスの利用規約に違反したユーザーや，不正・不当な目的でサービスを利用しようとするユーザーの利用をお断りするために，利用態様，氏名や住所など個人を特定するための情報を利用する目的</p>
        <p>（7）ユーザーからのお問い合わせに対応するために，お問い合わせ内容や代金の請求に関する情報など当社がユーザーに対してサービスを提供するにあたって必要となる情報や，ユーザーのサービス利用状況，連絡先情報などを利用する目的</p>
        <p>（8）上記の利用目的に付随する目的</p>
        <p>第４条（個人情報の第三者提供）</p>
        <p>当社は，次に掲げる場合を除いて，あらかじめユーザーの同意を得ることなく，第三者に個人情報を提供することはありません。ただし，個人情報保護法その他の法令で認められる場合を除きます。</p>
        <p>（1）法令に基づく場合</p>
        <p>（2）人の生命，身体または財産の保護のために必要がある場合であって，本人の同意を得ることが困難であるとき</p>
        <p>（3）公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって，本人の同意を得ることが困難であるとき</p>
        <p>（4）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって，本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</p>
        <p>（5）予め次の事項を告知あるいは公表をしている場合
利用目的に第三者への提供を含むこと
第三者に提供されるデータの項目
第三者への提供の手段または方法
本人の求めに応じて個人情報の第三者への提供を停止すること</p>
        <p>前項の定めにかかわらず，次に掲げる場合は第三者には該当しないものとします。</p>
        <p>（1）当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合</p>
        <p>（2）合併その他の事由による事業の承継に伴って個人情報が提供される場合</p>
        <p>（3）個人情報を特定の者との間で共同して利用する場合であって，その旨並びに共同して利用される個人情報の項目，共同して利用する者の範囲，利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について，あらかじめ本人に通知し，または本人が容易に知り得る状態に置いているとき</p>
        <p>第５条（個人情報の開示）</p>
        <p>当社は，本人から個人情報の開示を求められたときは，本人に対し，遅滞なくこれを開示します。ただし，開示することにより次のいずれかに該当する場合は，その全部または一部を開示しないこともあり，開示しない決定をした場合には，その旨を遅滞なく通知します。なお，個人情報の開示に際しては，１件あたり１，０００円の手数料を申し受けます。</p>
    </div>
</div>
<div class="row">
    <div class="center">
        <input type="checkbox" id="chk_agreement" name="chk_agreement" required />
        <label for="chk_agreement">承諾しました</label>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function () {
    ebjs.utils.disableCopyPaste("#id_email");
    ebjs.utils.disableCopyPaste("#id_email_confirm");

    // 希望契約開始日
    $('input[name=rdo_contract_start_date]').change(function() {
        if ($('#id_start_select').is(':checked')) {
            $("#id_contract_start_date").attr('required', 'required');
        } else {
            $("#id_contract_start_date").removeAttr('required');
        }
    });
});

// 希望契約開始日をカレンダーから選択の場合
function checkContractStartDate() {
    if ($('#id_start_select').is(':checked') && $('#id_contract_start_date').val() == '') {
        ebjs.material.toast_error("希望契約開始日を選択してください。");
        return false;
    } else {
        return true;
    }
}

// アンケート「その他」が選択された場合
$('input.questionnaire').change(function() {
    var label_text = $("label[for=" + this.id + "]").text();
    if (label_text == "その他") {
        if ($(this).is(':checked')) {
            $("#txt_route_other").attr('required', 'required');
        } else {
            $("#txt_route_other").removeAttr('required');
        }
    }
});

// 名前を入力後、フリガナを自動設定する。
function set_furigana(obj, target_id) {
    var furigana = ebjs.material.get_furigana($(obj).val());
    $("#" + target_id).val(furigana);
}

$('form').submit(function() {
    return checkContractStartDate();
});
</script>
{% endblock %}
