{% extends 'format/base.html' %}
{% load humanize %}

{% block content %}
<div class="row">
    <div class="card-title">緊急連絡先</div>
    <table class="step-info">
        <tr>
            <th class="form-field"><label for="txt_contact_name">緊急連絡先の氏名<span class="new badge red" data-badge-caption="必須"></span></label></th>
            <td class="form-field"><input type="text" id="txt_contact_name" name="txt_contact_name" required placeholder="" value="{{ user_subscription.contact_name|default:'' }}"/>
                <p class="red-text">※駐車場の故障や事故等により車両移動の必要が発生した際、ご契約者様にご対応いただけない場合に連絡させていただきます。</p>
            </td>
        </tr>
        <tr>
            <th class="form-field"><label for="txt_contact_tel">緊急連絡先の携帯番号<span class="new badge red" data-badge-caption="必須"></span></label></th>
            <td class="form-field"><input type="text" id="txt_contact_tel" name="txt_contact_tel" required placeholder="" value="{{ user_subscription.contact_tel|default:'' }}"/></td>
        </tr>
        <tr>
            <th class="form-field"><label for="txt_contact_relation">緊急連絡先とのご関係<span class="new badge red" data-badge-caption="必須"></span></label></th>
            <td class="form-field"><input type="text" id="txt_contact_relation" name="txt_contact_relation" required placeholder="例）父" value="{{ user_subscription.contact_relation|default:'' }}"/></td>
        </tr>
    </table>
</div>
<div class="row">
    <div class="card-title">支払方法</div>
    <table class="step-info">
        <tr>
            <th class="form-field">次回からの支払方法<span class="new badge red" data-badge-caption="必須"></span></th>
            <td class="form-field">
                <p>
                    <input name="rdo_contract_period" type="radio" id="id_contract_period_long" value="long" required />
                    <label for="id_contract_period_long">銀行振込</label>
                </p>
                <p>
                    <input name="rdo_contract_period" type="radio" id="id_contract_period_short" value="short" required />
                    <label for="id_contract_period_short">クレジットカード払い</label>
                </p>
            </td>
        </tr>
    </table>
</div>
{% endblock %}