{% extends 'format/base.html' %}
{% load humanize %}

{% block content %}
<div class="row">
    <p style="font-size: 22px;">{{ user_subscription.name }} 様</p>
    <p>
        平素は格別のご高配を賜り、厚く御礼申し上げます。<br/>
        下記のとおりご契約書類を送付致しますのでよろしくお願い致します。
    </p>
    <p class="red-text">
        ご利用に必要なツール等は、申し込み書類を全てご提出いただき、<br/>
        お振込み及び契約書の弊社必着確認後の発送となります。<br/>
        あらかじめご了承の上、お手続きいただきますようお願い申し上げます。
    </p>
    <p style="text-decoration: underline;">要件：{{ parking_lot }}ご契約につきまして</p>
    <p>お申込みありがとうございます。契約終了までの手順は以下の通りです。</p>
    <p>①　弊社、契約者様へ契約書×２、計算書、操作説明書、アンケートを送付。</p>
    <p>②　契約者様、計算書金額を弊社口座へご入金。<b>2018年1月25日</b>までにご入金。</p>
    <p>③　契約者様、①の書類を確認後、契約書に記名押印後２部とも発送。<b>2018年1月25日</b>までに弊社必着月</p>
    <p>④　弊社、契約者様からの入金確認後、以下のものを契約者様へ発送。<br/>
        <span style="margin-left: 100px;">送付物（契約書　＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊）</span>
    </p>
    <p>⑤　元号ＸＸ年ＸＸ月ＸＸ日ご利用開始。</p>
    <p></p>
    <p>
        ＊　次回賃料は、20,000円<br/>
        <span style="margin-left: 30px;">
            以降は<span style="red-text">毎月２５日までに翌月分を弊社口座へお振込み下さい。</span>
        </span>
    </p>
    <p>＊　弊社は領収証や請求書を送付致しません。ご注意下さい。</p>
    <p>＊　③の契約書をご返送いただけない場合、契約が解除されることがあります。</p>
    <p>＊　アンケートにご協力いただけると幸いです。</p>
    <p style="font-size: 22px; margin-top: 30px;">【機械式駐車場ご利用の契約者様】</p>
    <p>駐車される際はアンテナ類を全て下げ、車止めにタイヤが当たるまで入れ、扉が閉まるのを確認してから</p>
    <p>駐車場を離れてください。駐車場が動かなくなる事故が発生していますので宜しくお願い申し上げます。</p>
    <p style="font-size: 22px; margin-top: 30px;">【平置き・自走式駐車場ご利用の契約者様】</p>
    <p>駐車される際は、車止めの位置と壁の距離に十分注意してご入庫下さい。</p>
</div>
{% endblock %}