{% extends 'format/base.html' %}
{% load humanize %}

{% block content %}
<div class="row">
    <div class="card-title">申込者分類</div>
    <div class="col s6">
        <!-- Promo Content 1 goes here -->
        <div class="center promo promo-example">
            <i class="material-icons">group</i>
            <p class="promo-caption center">
                <input type="radio" name="contractor_category" class="with-gap" required id="contractor_corporate" value="corporate" {% if user_subscription.contractor_category == 'corporate' %}checked{% endif %}>
                <label for="contractor_corporate" style="font-size: 21px;color:inherit;">法人</label>
            </p>
            <p class="light center">法人申込の方は、こちらにご選択下さい.</p>
        </div>
    </div>
    <div class="col s6">
        <!-- Promo Content 2 goes here -->
        <div class="center promo promo-example">
            <i class="material-icons">person</i>
            <p class="promo-caption center">
                <input type="radio" name="contractor_category" class="with-gap" required id="contractor_personal" value="personal" {% if user_subscription.contractor_category == 'personal' %}checked{% endif %}>
                <label for="contractor_personal" style="font-size: 21px;color:inherit;">個人</label>
            </p>
            <p class="light center">個人申込の方は、こちらにご選択下さい.</p>
        </div>
    </div>
</div>
<script type="text/javascript">

$('form').submit(function() {
    return true;
});
</script>
{% endblock %}