{% extends 'format/base.html' %}
{% load humanize %}

{% block content %}
<div class="row">
    <div class="card-title">駐車場情報</div>
    <table class="step-info">
        <tr>
            <th class="form-field">駐車場名称</th>
            <td class="form-field">{{ parking_lot }}</td>
        </tr>
        <tr>
            <th class="form-field">所在地</th>
            <td class="form-field">
                {{ parking_lot.address }}
                {% if parking_lot.address %}
                    <br/><a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{parking_lot.address}}" style="font-size:11px;">Googleマップで表示</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="form-field">収容可能サイズ</th>
            <td class="form-field">
                {% for position in parking_lot.get_size_grouped_position %}
                    {% if position.position_count %}
                    <div>
                        <span style="margin-right: 5px;">全長:{{ position.length|default:''|intcomma }}mm</span>
                        <span style="margin-right: 5px;">全幅:{{ position.width|default:''|intcomma }}mm</span>
                        <span style="margin-right: 5px;">全高:{{ position.height|default:''|intcomma }}mm</span>
                        <span style="margin-right: 5px;">重量:{{ position.weight|default:''|intcomma }}kg</span>
                        <span>{% if position.min_height %}地上最低高:{{ position.min_height|default:''|intcomma }}mm{% endif %}</span>
                    </div>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th class="form-field">駐車番号(No.)</th>
            <td class="form-field">
                {% if parking_position %}
                    {{ parking_position }}
                {% endif %}
            </td>
        </tr>
        {% if parking_lot.time_limit_comment %}
        <tr>
            <th class="red-text form-field">※利用時間帯について</th>
            <td class="form-field"><pre>{{ parking_lot.time_limit_comment }}</pre></td>
        </tr>
        {% endif %}
        {% if parking_lot.transit_pass_comment %}
        <tr>
            <th class="red-text form-field">※通行許可証について</th>
            <td class="form-field"><pre>{{ parking_lot.transit_pass_comment }}</pre></td>
        </tr>
        {% endif %}
    </table>
</div>
<div class="row">
    <div class="card-title">申込み基本情報</div>
    <table class="step-info">
        <tr>
            <th class="form-field">メーカー</th>
            <td class="form-field">{{ user_subscription.car_maker|default:'' }}</td>
        </tr>
        <tr>
            <th class="form-field">車種</th>
            <td class="form-field">{{ user_subscription.car_model|default:'' }}</td>
        </tr>
        <tr>
            <th class="form-field">車両登録番号</th>
            <td class="form-field">{{ user_subscription.car_no_plate|default:'' }}</td>
        </tr>
        <tr>
            <th class="form-field">車体の大きさ</th>
            <td class="form-field">
                全長：{{ user_subscription.car_length|default:''|intcomma }} mm<br/>
                全幅：{{ user_subscription.car_width|default:''|intcomma }} mm<br/>
                全高：{{ user_subscription.car_height|default:''|intcomma }} mm<br/>
                重量：{{ user_subscription.car_weight|default:''|intcomma }} kg<br/>
            </td>
        </tr>
        <tr>
            <th class="form-field">希望契約開始日</th>
            <td class="form-field">{{ user_subscription.contract_start_date|default:'' }}</td>
        </tr>
        <tr>
            <th class="form-field">希望契約期間</th>
            <td class="form-field">{{ user_subscription.get_contract_period_display|default:'' }}
                {% if user_subscription.contract_end_month %}
                （　{{ user_subscription.contract_end_month|default:'' }}　月末日まで）
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="form-field">任意保険の加入</th>
            <td class="form-field"> {{ user_subscription.get_insurance_limit_type_display|default:'' }}
                {% if user_subscription.insurance_limit_amount %}
                （　{{ user_subscription.insurance_limit_amount|default:'' }}　万円まで）
                {% endif %}
                <br/>
                {% if user_subscription.insurance_expire_date %}
                    保険の有効期限：{{ user_subscription.insurance_expire_date|default:'' }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="form-field">保管証発行-車庫証明に必要な書類</th>
            <td class="form-field">
                {% if user_subscription.require_receipt == 'yes' %}
                    必要（発行手数料：消費{% if receipt_without_consumption %}税別{% else %}税込{% endif %}{{ receipt_amount|intcomma }}円）
                {% else %}
                    不要
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="form-field">順番待ち</th>
            <td class="form-field">
                申込書の到着時点で当駐車場が満車になっていた場合､順番待ちを希望
                <span class="red-text" style="font-weight: bold;">{% if user_subscription.require_waiting == 'yes' %}
                    します
                {% else %}
                    しません
                {% endif %}
                。
                </span>
            </td>
        </tr>
    </table>
</div>
<div class="row">
    <div class="card-title">申込者分類</div>
    <table class="step-info">
        <tr>
            <th class="form-field">分類</th>
            <td class="form-field"> {{ user_subscription.get_category_display|default:'未記入' }}</td>
        </tr>
    </table>
</div>
{% if user_subscription.category == "2" %}
<!-- 法人 -->
<div class="row">
    <div class="card-title">法人連絡先</div>
    <table class="step-info">
        <tr>
            <th class="form-field">フリガナ</th>
            <td class="form-field">{{ user_subscription.kana|default:'未記入' }}</td>
        </tr>
        <tr>
            <th class="form-field">法人名</th>
            <td class="form-field">{{ user_subscription.name|default:'未記入' }}</td>
        </tr>
        <tr>
            <th class="form-field">代表者</th>
            <td class="form-field">{{ user_subscription.corporate_president|default:'未記入' }}</td>
        </tr>
        <tr>
            <th class="form-field">所在地</th>
            <td class="form-field">
                〒 {{ user_subscription.post_code1|default:'' }}-{{ user_subscription.post_code2|default:'' }}<br/>
                {{ user_subscription.address1|default:'未記入' }}<br/>
                {{ user_subscription.address2|default:'未記入' }}
            </td>
        </tr>
        <tr>
            <th class="form-field">TEL</th>
            <td class="form-field">{{ user_subscription.tel|default:'未記入' }}</td>
        </tr>
        <tr>
            <th class="form-field">FAX</th>
            <td class="form-field">{{ user_subscription.fax|default:'未記入' }}</td>
        </tr>
        <tr>
            <th class="form-field">会社業種</th>
            <td class="form-field">{{ user_subscription.corporate_business_type|default:'未記入' }}</td>
        </tr>
    </table>
</div>
<div class="row">
    <div class="card-title">契約担当者</div>
    <table class="step-info">
        <tr>
            <th class="form-field">フリガナ</th>
            <td class="form-field">{{ user_subscription.corporate_staff_kana|default:'未記入' }}</td>
        </tr>
        <tr>
            <th class="form-field">氏名</th>
            <td class="form-field">{{ user_subscription.corporate_staff_name|default:'未記入' }}</td>
        </tr>
        <tr>
            <th class="form-field">Ｅ-ｍａｉｌ</th>
            <td class="form-field">{{ user_subscription.email|default:'未記入' }}</td>
        </tr>
        <tr>
            <th class="form-field">TEL</th>
            <td class="form-field">{{ user_subscription.tel|default:'未記入' }}</td>
        </tr>
        <tr>
            <th class="form-field">FAX</th>
            <td class="form-field">{{ user_subscription.fax|default:'未記入' }}</td>
        </tr>
        <tr>
            <th class="form-field">携帯電話</th>
            <td class="form-field">{{ user_subscription.corporate_staff_phone|default:'未記入' }}</td>
        </tr>
    </table>
</div>
<div class="row">
    <div class="card-title">緊急連絡先（※ご本人、勤務先以外）</div>
    <table class="step-info">
        <tr>
            <th class="form-field">電話番号</th>
            <td class="form-field">{{ user_subscription.contact_tel|default:'未記入' }}</td>
        </tr>
        <tr>
            <th class="form-field">氏名</th>
            <td class="form-field">{{ user_subscription.contact_name|default:'未記入' }}</td>
        </tr>
        <tr>
            <th class="form-field">契約者との関係</th>
            <td class="form-field">{{ user_subscription.contact_relation|default:'未記入' }}</td>
        </tr>
    </table>
</div>
<div class="row">
    <div class="card-title">使用者・使用者所在地</div>
    <table class="step-info">
        <tr>
            <th class="form-field">フリガナ</th>
            <td class="form-field">{{ user_subscription.corporate_user_kana|default:'未記入' }}</td>
        </tr>
        <tr>
            <th class="form-field">氏名</th>
            <td class="form-field">{{ user_subscription.corporate_user_name|default:'未記入' }}</td>
        </tr>
        <tr>
            <th class="form-field">携帯電話</th>
            <td class="form-field">{{ user_subscription.corporate_user_tel|default:'未記入' }}</td>
        </tr>
        <tr>
            <th class="form-field">所在地</th>
            <td class="form-field">
                {% if corporate_user_post_code %}
                〒 {{ user_subscription.corporate_user_post_code|default:'未記入' }}<br/>
                {% endif %}
                {{ user_subscription.corporate_user_address1|default:'未記入' }}
            </td>
        </tr>
    </table>
</div>
{% else %}
<!-- 個人 -->
<div class="row">
    <div class="card-title">申込人連絡先</div>
    <table class="step-info">
        <tr>
            <th class="form-field">フリガナ</th>
            <td class="form-field">{{ user_subscription.kana|default:'' }}</td>
        </tr>
        <tr>
            <th class="form-field">氏名</th>
            <td class="form-field">{{ user_subscription.name|default:'' }}</td>
        </tr>
        <tr>
            <th class="form-field">生年月日</th>
            <td class="form-field">{{ user_subscription.personal_birthday|default:'' }}</td>
        </tr>
        <tr>
            <th class="form-field">住所</th>
            <td class="form-field">
                〒 {{ user_subscription.post_code1|default:'' }}-{{ user_subscription.post_code2|default:'' }}<br/>
                {{ user_subscription.address1|default:'' }}<br/>
                {{ user_subscription.address2|default:'' }}
            </td>
        </tr>
        <tr>
            <th class="form-field">自宅TEL・FAX</th>
            <td class="form-field">{{ user_subscription.tel|default:'' }}</td>
        </tr>
        <tr>
            <th class="form-field">携帯電話</th>
            <td class="form-field">{{ user_subscription.personal_phone|default:'' }}</td>
        </tr>
        <tr>
            <th class="form-field">E-mail</th>
            <td class="form-field">{{ user_subscription.email|default:'' }}</td>
        </tr>
    </table>
</div>
<div class="row">
    <div class="card-title">申込人勤務先</div>
    <table class="step-info">
        <tr>
            <th class="form-field">勤務先名</th>
            <td class="form-field">{{ user_subscription.workplace_name|default:'' }}</td>
        </tr>
        {% if user_subscription.workplace_comment %}
        <tr>
            <th class="form-field" style="font-weight: normal;font-size:11px;">※勤務先のない方は、ご家族の勤務先と、その方のお名前・関係性をお知らせください。</th>
            <td class="form-field">{{ user_subscription.workplace_comment|default:'' }}</td>
        </tr>
        {% endif %}
        <tr>
            <th class="form-field">所在地</th>
            <td class="form-field">
                〒 {{ user_subscription.workplace_post_code1|default:'' }}-{{ user_subscription.workplace_post_code2|default:'' }}<br/>
                {{ user_subscription.workplace_address1|default:'' }}<br/>
                {{ user_subscription.workplace_address2|default:'' }}
            </td>
        </tr>
        <tr>
            <th class="form-field">TEL</th>
            <td class="form-field">{{ user_subscription.workplace_tel|default:'' }}</td>
        </tr>
        <tr>
            <th class="form-field">FAX</th>
            <td class="form-field">{{ user_subscription.workplace_fax|default:'' }}</td>
        </tr>
    </table>
</div>
<div class="row">
        <div class="card-title">緊急連絡先（※ご本人、勤務先以外）</div>
        <table class="step-info">
            <tr>
                <th class="form-field">電話番号</th>
                <td class="form-field">{{ user_subscription.contact_tel|default:'' }}</td>
            </tr>
            <tr>
                <th class="form-field">氏名</th>
                <td class="form-field">{{ user_subscription.contact_name|default:'' }}</td>
            </tr>
            <tr>
                <th class="form-field">契約者との関係</th>
                <td class="form-field">{{ user_subscription.contact_relation|default:'' }}</td>
            </tr>
        </table>
    </div>
{% endif %}
<div class="row">
    <div class="card-title">添付書類</div>
    <table class="step-info">
        <tr>
            <th class="form-field">免許書の写し</th>
            <td class="form-field"><a>参照...</a></td>
        </tr>
        <tr>
            <th class="form-field">車検書の写し</th>
            <td class="form-field"><a>参照...</a></td>
        </tr>
        <tr>
            <th class="form-field">自賠責保険証明と任意保険証の写し</th>
            <td class="form-field"><a>参照...</a></td>
        </tr>
    </table>
</div>
<div class="row">
    <div class="center" style="margin: 30px auto; font-weight: bold; font-size: 25px;">◆◆ 注意事項 ◆◆</div>
    <div style="border: 2px solid lightblue; padding: 10px 0px; border-radius: 15px;background: #FDFAF7;">
        <pre style="font-size: 12px; margin-top: 10px; margin-left: 15px;">◆◆ お申し込み前に下記の点をご確認下さい ◆◆
　  ①当駐車場は、機械式駐車場です。収容可能寸法を超える車両を駐車することはできません。
　　  ＊収容可能寸法内でも収容可能寸法と駐車される車両の大きさに余裕が無い場合は、ご契約いただけない場合があります。
　　    また、車種によっては、試し入れをしていただいてからの申し込み受付となります。
　  ②駐車場は、申込書類をお送りいただき、弊社がその内容を確認した後、車室確保となります。
　　  ＊申込書類が到着した時点で、既に満車になっていることもあります。</pre>
<pre style="font-size: 12px; margin-top: 10px; margin: 0 0 0 15px;"><span style="font-weight: bold;">〔初期費用・毎月の賃料のお支払いに関して〕</span>
　　＊契約時に{{ payment_c_commission }}円(消費税別)の事務手数料を頂戴致します。	＊敷金､礼金は必要ございません(特記のあるものを除きます)。
　　＊契約時に<span style="color: blue;">２ケ月分の賃料を前払い</span>していただきます。		＊請求書・領収書は発行いたしません。
　　＊３ヶ月目以降の賃料は、前月の２５日までにお振り込みいただきます(前払い制)。</pre>
<pre style="font-size: 12px; margin: 0 0 0 15px;"><span style="font-weight: bold;">〔契約期間に関して〕</span>
    ＊短期契約：１ヶ月契約と２ヶ月契約があります。
　    契約期間満了日をもって解約となり、契約期間の延長ができない契約内容となります。
　    ただし、契約期間満了時に駐車場に空きがある場合は新規契約を結んで引続き駐車場をご利用いただくことができます。
    ＊長期契約： ご利用期間が決まっていない場合は、１年契約をお勧めしています。契約期間中に解約することも可能です。
　    その場合は解約のお申し出をいただいた日の翌月末日付の解約になります。</pre>
<pre style="font-size: 12px; margin: 0 0 0 15px;"><span style="font-weight: bold;">〔車庫証明に関して〕</span>
    弊社では、車庫証明の申請に必要な「車両保管場所使用承諾証明書」をご希望者にのみ発行致します。
    ＊1年契約の契約者様のみが対象です。                    ＊発行手数料は、{{ payment_c_commission }}円（消費税別）です。
    ＊車両保管場所使用承諾証明書の発行は、ご契約後となります。
　    新しく車両を購入される場合は、証明書がいつ頃必要になるかについて、ディーラーとご相談の上、申し付けください。</pre>
<pre style="font-size: 12px; margin: 0 0 0 15px;"><span style="font-weight: bold;">〔申込時諸注意〕</span>
    ＊申込される方がご自身でご記入下さい。
    ＊ご記入いただいたご連絡先に、お申込内容の確認のためにお電話をする場合がございます。
    ＊記入漏れや記入内容の虚偽が明らかになった場合には、お申込をお断りする場合やご契約後も解約、解除されることがございます。
    ＊審査の結果によってはお申込をお断りする場合もございます(内容・理由については一切お答えできません）。
    ◆<span style="color: red; font-size: 12px;">現駐車場契約者様は弊社とはご契約いただけません。</span>	◆<span style="color: red; font-size: 12px;">当建物の入居者様・区分所有者様は弊社とご契約いただけない場合があります。</span></pre>
<div style="background-color: #000000; color: #ffffff; font-size: 12px; padding: 2px 6px;">１．ご契約条件、必要書類などに関して</div>
<pre style="font-size: 11px !important; margin: 0 0 0 10px; line-height: 16px;">　　*　駐車場設備又は駐車場所有者等の事情により、お申込をお断りする場合もございます。現在ご利用の駐車場の解約をご検討の場合には、
 　　   弊社より車室確保の連絡を差し上げるまで手続きをお控え下さい。
　　*　お客様との賃料条件は個別条件となります。後日お送りする契約書及び諸注意事項の書類も含め、全て他に漏らさないように厳守をお願いします。
  　　  これらの内容に違反した場合は、契約期間中でも契約を解除する場合があります。
　　*　賃料は、契約更新時に改定する場合があります。また、消費税、地方消費税の税率が変更となった場合、賃料も変更後の税率で計算した金額となります。
　　*　申込書にご記入いただいた連絡先が変更になった場合は、必ずその旨のご連絡をお願いします。
  　　  変更のお届けをいただかず、ご連絡が取れなくなった場合、契約維持の意志なしとみなし解約の手続きをとる場合があります。
　　*　新しく車両を購入する等の理由により、ご契約時に車検証の写しをご提出いただけなかった場合、必ず契約開始後1ヶ月以内に車検証の写しをご提出下さい。
　　*　登録車両以外の車両は駐車できません。買換等により登録車両を変更される場合は、必ず新しい車両を入庫される前に車検証の写しをご提出下さい。
　　*　暴力団、暴力団員、暴力団関係企業、総会屋、社会運動・政治活動標ぼうゴロ、特殊知能暴力集団、その他の反社会的勢力と交流がある方とは
 　 　  ご契約できません。契約期間中であってもその事実が判明した場合は、直ちに契約を解約致します。
　　*　契約期間中は自動車保険他〈強制保険及び任意保険〉に加入し、契約時と更新時、変更の都度新しい自動車保険等の写しを提出していただきます。</pre>
<div style="background-color: #000000; color: #ffffff; font-size: 12px; padding: 2px 6px;">２．駐車車両、操作方法他に関して</div>
<pre style="font-size: 11px !important; margin: 0 0 0 10px; line-height: 16px;">　　*　収納可能寸法以上の車、改造車、キャリアー、エアロパーツが取り付けてある車は、駐車設備の故障を引き起こす原因になりますので駐車は出来ません。
　　*　駐車の際は、ご契約された車室と駐車場に記載してある車室番号や暗証番号を十分確認の上指定された車室に車を停め、必ずドアミラーをたたんで下さい。
　　*　車によっては、タイヤ止めの位置で駐車すると車が壁にぶつかる可能性があります。タイヤ止めの位置と壁の位置を十分に確認をしてから駐車してください。
　　*　機械式駐車場ご利用の場合、定期及び緊急点検、補修作業、突発的な事故により一時的にご利用出来ない場合があります。
  　   その場合でも利用者は異議の申し立てはしないものとします。但し、所有者、管理者ならびに弊社は速やかに問題の解決にあたるよう努力しますが、
 　    部品交換や部品調達などで一時的に利用できなくなったことについての責任は負いません。
　　*　駐車場内の掲示物は利用に際しての重要な注意事項もありますので、必ず確認をして下さい。
　　*　弊社では法令に基づき、公的機関からの開示要請があった場合、サービス維持提供に必要な範囲で事業活動に関連し、弊社と秘密保持契約を締結して
　　　いる業務提携先へ必要な限度において顧客情報を提供することがあります。</pre>
    </div>
</div>
<div class="row">
    <div class="center">
        <input type="checkbox" id="chk_agreement" name="chk_agreement" required />
        <label for="chk_agreement">注意事項に同意する</label>
    </div>
</div>
<script type="text/javascript">

$('form').submit(function() {
    return true;
});
</script>
{% endblock %}